/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Aptean_Table_1;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-spacing-y: 0;
	border-spacing-x: 0;
	cell-padding-left: 2px;
	max-id: 3;
	margin-left: 10px;
	margin-top: 1pt;
	margin-bottom: 1pt;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	margin-right: 10px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	font-size: 10pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	name: Column1;
	id: 0;
	color: #000000;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	size: 0.7cm;
	font-size: 10pt;
	font-family: Arial;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	font-weight: bold;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	size: 0.60cm;
	font-size: 10pt;
	font-family: Arial;
	vertical-align: top;
	cell-padding-left: 2pt;
	cell-padding-right: 2pt;
	cell-padding-top: 2pt;
	cell-padding-bottom: 2pt;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-Aptean_Table_1
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 1pt;
	margin-bottom: 1pt;
	border-spacing: 0px 0px;
}

.TableStyle-Aptean_Table_1-Column-Column1
{
	
}

.TableStyle-Aptean_Table_1-Head-Header1
{
	height: 0.7cm;
}

.TableStyle-Aptean_Table_1-HeadI-Column1-Header1
{
	font-style: normal;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Aptean_Table_1-HeadI-Column1-Header1 p
{
	font-style: normal;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-Aptean_Table_1-HeadE-Column1-Header1
{
	font-style: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Aptean_Table_1-HeadE-Column1-Header1 p
{
	font-style: normal;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-Aptean_Table_1-HeadF-Column1-Header1
{
	font-style: normal;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Aptean_Table_1-HeadF-Column1-Header1 p
{
	font-style: normal;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-Aptean_Table_1-HeadH-Column1-Header1
{
	font-style: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Aptean_Table_1-HeadH-Column1-Header1 p
{
	font-style: normal;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-Aptean_Table_1-HeadD-Column1-Header1
{
	font-style: normal;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Aptean_Table_1-HeadD-Column1-Header1 p
{
	font-style: normal;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-Aptean_Table_1-HeadC-Column1-Header1
{
	font-style: normal;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Aptean_Table_1-HeadC-Column1-Header1 p
{
	font-style: normal;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-Aptean_Table_1-HeadB-Column1-Header1
{
	font-style: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Aptean_Table_1-HeadB-Column1-Header1 p
{
	font-style: normal;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-Aptean_Table_1-HeadA-Column1-Header1
{
	font-style: normal;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Aptean_Table_1-HeadA-Column1-Header1 p
{
	font-style: normal;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-Aptean_Table_1-HeadG-Column1-Header1
{
	font-style: normal;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Aptean_Table_1-HeadG-Column1-Header1 p
{
	font-style: normal;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-Aptean_Table_1-Foot-Footer1
{
	
}

.TableStyle-Aptean_Table_1-FootI-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Aptean_Table_1-FootI-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Aptean_Table_1-FootE-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Aptean_Table_1-FootE-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Aptean_Table_1-FootF-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Aptean_Table_1-FootF-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Aptean_Table_1-FootH-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Aptean_Table_1-FootH-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Aptean_Table_1-FootD-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Aptean_Table_1-FootD-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Aptean_Table_1-FootC-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Aptean_Table_1-FootC-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Aptean_Table_1-FootB-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Aptean_Table_1-FootB-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Aptean_Table_1-FootA-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Aptean_Table_1-FootA-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Aptean_Table_1-FootG-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Aptean_Table_1-FootG-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Aptean_Table_1-Body-Body1
{
	height: 0.60cm;
}

.TableStyle-Aptean_Table_1-BodyI-Column1-Body1
{
	vertical-align: top;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Aptean_Table_1-BodyI-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Aptean_Table_1-BodyE-Column1-Body1
{
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Aptean_Table_1-BodyE-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Aptean_Table_1-BodyF-Column1-Body1
{
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Aptean_Table_1-BodyF-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Aptean_Table_1-BodyH-Column1-Body1
{
	vertical-align: top;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Aptean_Table_1-BodyH-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Aptean_Table_1-BodyD-Column1-Body1
{
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Aptean_Table_1-BodyD-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Aptean_Table_1-BodyC-Column1-Body1
{
	vertical-align: top;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Aptean_Table_1-BodyC-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Aptean_Table_1-BodyB-Column1-Body1
{
	vertical-align: top;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Aptean_Table_1-BodyB-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Aptean_Table_1-BodyA-Column1-Body1
{
	vertical-align: top;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Aptean_Table_1-BodyA-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Aptean_Table_1-BodyG-Column1-Body1
{
	vertical-align: top;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Aptean_Table_1-BodyG-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}
