<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright © Aptean 2014. All rights reserved. -->
<configuration>
    <system.web>
        <authentication mode="None" />
        <compilation defaultLanguage="c#" />
    </system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="ConsonaCRM.BusinessRuleManager" publicKeyToken="18c76f39911ce8fd" />
				<codeBase version="1.2.0.0" href="file:///$install location$\Engine\Runtime\Debug\ConsonaCRM.BusinessRuleManager.dll" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>