/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Aptean_Note_Table;
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-spacing-y: 2;
	border-spacing-x: 2;
	cell-padding-left: 1px;
	cell-padding-right: 1px;
	cell-padding-top: 1px;
	cell-padding-bottom: 1px;
	max-id: 3;
	margin-top: 1pt;
	margin-bottom: 1pt;
	margin-left: 8pt;
	border-top-color: #000000;
	border-bottom-color: #000000;
	margin-right: 10pt;
}

mcTableColumnStyle
{
	span: 1;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	font-size: 10pt;
	font-family: Arial;
	name: Header1;
	id: 2;
	font-weight: bold;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	font-size: 10pt;
	font-family: Arial;
	background-color: #ffffff;
	name: Body1;
	id: 1;
	size: 0.50cm;
	vertical-align: top;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-Aptean_Note_Table
{
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 8pt;
	margin-right: 10pt;
	margin-top: 1pt;
	margin-bottom: 1pt;
	border-spacing: 2px 2px;
}

.TableStyle-Aptean_Note_Table-Column-Column1
{
	
}

.TableStyle-Aptean_Note_Table-Head-Header1
{
	
}

.TableStyle-Aptean_Note_Table-HeadI-Column1-Header1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-Aptean_Note_Table-HeadI-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-Aptean_Note_Table-HeadE-Column1-Header1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-Aptean_Note_Table-HeadE-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-Aptean_Note_Table-HeadF-Column1-Header1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-Aptean_Note_Table-HeadF-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-Aptean_Note_Table-HeadH-Column1-Header1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-Aptean_Note_Table-HeadH-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-Aptean_Note_Table-HeadD-Column1-Header1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-Aptean_Note_Table-HeadD-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-Aptean_Note_Table-HeadC-Column1-Header1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-Aptean_Note_Table-HeadC-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-Aptean_Note_Table-HeadB-Column1-Header1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-Aptean_Note_Table-HeadB-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-Aptean_Note_Table-HeadA-Column1-Header1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-Aptean_Note_Table-HeadA-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-Aptean_Note_Table-HeadG-Column1-Header1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-Aptean_Note_Table-HeadG-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-Aptean_Note_Table-Foot-Footer1
{
	
}

.TableStyle-Aptean_Note_Table-FootI-Column1-Footer1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-Aptean_Note_Table-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Aptean_Note_Table-FootE-Column1-Footer1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Aptean_Note_Table-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Aptean_Note_Table-FootF-Column1-Footer1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Aptean_Note_Table-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Aptean_Note_Table-FootH-Column1-Footer1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-Aptean_Note_Table-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Aptean_Note_Table-FootD-Column1-Footer1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Aptean_Note_Table-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Aptean_Note_Table-FootC-Column1-Footer1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-Aptean_Note_Table-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Aptean_Note_Table-FootB-Column1-Footer1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-Aptean_Note_Table-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Aptean_Note_Table-FootA-Column1-Footer1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-Aptean_Note_Table-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Aptean_Note_Table-FootG-Column1-Footer1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-Aptean_Note_Table-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Aptean_Note_Table-Body-Body1
{
	height: 0.50cm;
}

.TableStyle-Aptean_Note_Table-BodyI-Column1-Body1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-Aptean_Note_Table-BodyI-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-Aptean_Note_Table-BodyE-Column1-Body1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-Aptean_Note_Table-BodyE-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-Aptean_Note_Table-BodyF-Column1-Body1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-Aptean_Note_Table-BodyF-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-Aptean_Note_Table-BodyH-Column1-Body1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-Aptean_Note_Table-BodyH-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-Aptean_Note_Table-BodyD-Column1-Body1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-Aptean_Note_Table-BodyD-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-Aptean_Note_Table-BodyC-Column1-Body1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-Aptean_Note_Table-BodyC-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-Aptean_Note_Table-BodyB-Column1-Body1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-Aptean_Note_Table-BodyB-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-Aptean_Note_Table-BodyA-Column1-Body1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-Aptean_Note_Table-BodyA-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-Aptean_Note_Table-BodyG-Column1-Body1
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-Aptean_Note_Table-BodyG-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}


