/*<meta />*/

html
{
	background-color: #ffffff;
}

H1.BookTitle
{
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	border-bottom-width: 1.0px;
	color: #545454;
	font-family: arial;
	font-size: 18pt;
	font-weight: bold;
	margin-bottom: 22pt;
	margin-left: 5pt;
	margin-top: 12pt;
}

H1.Heading
{
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	color: #545454;
	font-family: arial;
	font-size: 17pt;
	font-weight: bold;
	margin-bottom: 22pt;
	margin-left: 5pt;
	margin-top: 12pt;
}

H1.Section
{
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	color: #545454;
	font-family: arial;
	font-size: 18pt;
	font-weight: bold;
	margin-bottom: 22pt;
	margin-left: 5pt;
	margin-top: 12pt;
}

H2.Heading
{
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	color: #545454;
	font-family: arial;
	font-size: 16pt;
	font-weight: bold;
	margin-bottom: 22pt;
	margin-left: 5pt;
	margin-top: 12pt;
}

H3.Heading
{
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	color: #545454;
	font-family: arial;
	font-size: 15pt;
	font-weight: bold;
	margin-bottom: 22pt;
	margin-left: 5pt;
	margin-top: 12pt;
}

H4.Heading
{
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	color: #545454;
	font-family: arial;
	font-size: 14pt;
	font-weight: bold;
	margin-bottom: 22pt;
	margin-left: 5pt;
	margin-top: 12pt;
}

H5.Heading
{
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	color: #545454;
	font-family: arial;
	font-size: 13pt;
	font-weight: bold;
	margin-bottom: 22pt;
	margin-left: 5pt;
	margin-top: 12pt;
}

H6.Heading
{
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	color: #545454;
	font-family: arial;
	font-size: 12pt;
	font-weight: bold;
	margin-bottom: 22pt;
	margin-left: 5pt;
	margin-top: 12pt;
}

li.ListBullet_1
{
	font-family: arial;
	font-size: 9pt;
	line-height: 150%;
	list-style-image: none;
	list-style-position: outside;
	margin-bottom: 6pt;
	margin-left: 1.0cm;
	margin-right: 1.0cm;
	margin-top: 6pt;
}

li.ListBullet_1_table
{
	font-family: arial;
	font-size: 9pt;
	line-height: 150%;
	list-style-image: none;
	list-style-position: outside;
	margin-bottom: 3pt;
	margin-left: -0.5cm;
	margin-top: 3pt;
}

li.ListBullet_2
{
	font-family: arial;
	font-size: 9pt;
	line-height: 150%;
	list-style-image: none;
	list-style-position: outside;
	margin-bottom: 6pt;
	margin-left: 1.5cm;
	margin-right: 1.0cm;
	margin-top: 6pt;
}

li.ListBullet_3
{
	font-family: arial;
	font-size: 9pt;
	line-height: 150%;
	list-style-image: none;
	list-style-position: outside;
	margin-bottom: 6pt;
	margin-left: 2.0cm;
	margin-right: 1.0cm;
	margin-top: 6pt;
}

p.BodyText
{
	font-family: Arial;
	font-size: 9pt;
	line-height: 150%;
	margin-bottom: 6pt;
	margin-left: 1.5cm;
	margin-right: 1.0cm;
	margin-top: 6pt;
}

p.BodyTextIndent_1
{
	font-family: Arial;
	font-size: 9pt;
	line-height: 150%;
	margin-bottom: 6pt;
	margin-left: 2.05cm;
	margin-right: 1.0cm;
	margin-top: 6pt;
}

p.BodyTextIndent_2
{
	font-family: Arial;
	font-size: 9pt;
	line-height: 150%;
	margin-bottom: 6pt;
	margin-left: 2.55cm;
	margin-right: 1.0cm;
	margin-top: 6pt;
}

p.BodyTextIndent_3
{
	font-family: Arial;
	font-size: 9pt;
	line-height: 150%;
	margin-bottom: 6pt;
	margin-left: 3.05cm;
	margin-right: 1.0cm;
	margin-top: 6pt;
}

p.ElementHeader
{
	color: #545454;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	line-height: 150%;
	margin-bottom: 12pt;
	margin-right: 1.0cm;
	margin-top: 12pt;
}

p.Footer
{
	font-family: Arial;
	font-size: 8pt;
	line-height: 85%;
	margin-top: 3pt;
	margin-bottom: 3pt;
}

p.NoteText
{
	font-family: Arial;
	font-size: 8pt;
	line-height: 150%;
	margin-bottom: 4pt;
	margin-left: 2px;
	margin-right: 2px;
	letter-spacing: 2px;
	margin-top: 3pt;
}

p.TableText
{
	font-family: Arial;
	font-size: 9pt;
	margin-bottom: 3pt;
	margin-left: 3pt;
	margin-top: 3pt;
	line-height: 150%;
}

p.TaskHeading
{
	color: #545454;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	line-height: 150%;
	margin-bottom: 6pt;
	margin-left: 1.5cm;
	margin-right: 1.0cm;
	margin-top: 12pt;
}

a:Visited
{
	color: #800080;
	text-decoration: underline;
}

a:Hover
{
	color: #ff3300;
	text-decoration: underline;
}

a.dropspot
{
	color: #0000ff;
	cursor: hand;
	text-decoration: none;
	font-style: normal;
}

a.dropspot:link
{
	font-style: normal;
	text-decoration: underline;
}

a.dropspot:Visited
{
	color: #0000ff;
	font-style: italic;
	text-decoration: none;
}

MadCap|expandingHead.expandspot
{
	cursor: hand;
	color: #008000;
	font-style: normal;
}

MadCap|dropDownHotspot.dropspot
{
	font-style: italic;
	color: #0000ff;
	cursor: hand;
	text-decoration: none;
}

MadCap|dropDownHead
{
	border-bottom-width: 0px;
	color: #0000ff;
	font: Arial;
	font-size: 9pt;
	margin-left: 1.5cm;
	margin-top: 12pt;
	margin-bottom: 12pt;
}

a.dropspot:Hover
{
	border-bottom: solid 0px;
	font-style: normal;
	font-family: Arial;
	font: Arial;
	font-size: 9pt;
	text-decoration: underline;
}

MadCap|dropDownHotspot.dropspot:hover
{
	font-style: normal;
	border-bottom: solid 1px;
}

code
{
	font-size: 9pt;
}

MadCap|dropDownHead.Footer
{
	border-bottom-width: 0px;
	color: #0000ff;
	font: Arial;
	font-size: 8pt;
	margin-left: 0cm;
	margin-top: 3pt;
	margin-bottom: 3pt;
}

MadCap|dropDownHead.Two
{
	border-bottom-width: 0px;
	color: #0000ff;
	font: Arial;
	font-size: 9pt;
	margin-left: 2.00cm;
	margin-top: 12pt;
	margin-bottom: 12pt;
}

MadCap|dropDownHead.Three
{
	border-bottom-width: 0px;
	color: #0000ff;
	font: Arial;
	font-size: 9pt;
	margin-left: 2.50cm;
	margin-top: 12pt;
	margin-bottom: 12pt;
}

MadCap|dropDownHotspot
{
	font-family: Arial;
	font-size: 9pt;
}