/* This is the default (empty) custom_styles.css file for Insight.  It is 
 * loaded by the browser during initialization, before the login screen is
 * displayed.  
 * 
 * This file should declare new custom CSS styles used by Templates or custom
 * components. 
 */ 
 
 @charset "utf-8";
 
 .lvtable{

		font-family: arial; 
		border-collapse: collapse; 
		width: 100%; 
		border:1px solid #2faae1; 
 }
 .lvtable tr:nth-child(odd) {
		background-color: #f3f3f3;
		}
 .lvtable-header {
		text-align: left; 
		padding: 8px; 
		background-color: #999999; 
		color:white; 
		height: 30px;
		white-space:nowrap;
 }
 .lvtable-row {
		text-align: left; 
		padding: 8px;
		height: 30px;
		color: #6d6e70;
 }
