/*<meta />*/

p
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin-left: 36pt;
	font-family: Arial;
	font-size: 10pt;
	mc-hyphenate: never;
}

caption
{
	font: Arial;
	margin-top: 6pt;
	font-weight: bold;
	text-align: left;
	margin-left: 0pt;
	font-size: 8pt;
	mc-auto-number-format: 'CT:Table {chapnum}-{n+}  ';
	margin-bottom: 3pt;
	padding-bottom: 3pt;
}

caption.Listing
{
	font: Arial;
	margin-bottom: 3pt;
	margin-top: 6pt;
	font-weight: bold;
	text-align: left;
	margin-left: 0pt;
	font-size: 8pt;
	mc-auto-number-format: 'CL:Listing {n}-{n+}: ';
	padding-bottom: 3pt;
}

p.Warning
{
	font-size: 9pt;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-bottom: solid 1px;
	border-top: solid 1px;
	margin-left: 40pt;
	margin-right: 30pt;
	background-repeat: no-repeat;
	background-image: url('../Images/Icons/warning.png');
	mc-auto-number-format: '   {b}Warning:{/b}  ';
	text-indent: -68px;
	mc-leader-indent: 10pt;
	padding-left: 85px;
	margin-left: 40pt;
	background-repeat: no-repeat;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10pt;
	margin-top: 10pt;
}

p.WarningTable
{
	font-size: 9pt;
	margin-left: 40pt;
	margin-right: 30pt;
	background-repeat: no-repeat;
	background-image: url('../Images/Icons/warning.png');
	mc-auto-number-format: '   {b}Warning:{/b}  ';
	text-indent: -68px;
	mc-leader-indent: 10pt;
	padding-left: 85px;
	margin-left: 40pt;
	background-repeat: no-repeat;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10pt;
	margin-top: 10pt;
}

h1
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 12pt;
	margin-bottom: 12pt;
	mc-heading-level: 1;
	font-family: Arial;
	font-weight: bold;
	font-size: 20pt;
	color: black;
	page-break-before: avoid;
}

h2
{
	margin-bottom: 12pt;
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 12pt;
	margin-left: 0pt;
	mc-heading-level: 2;
	font-family: Arial;
	font-weight: bold;
	font-size: 16pt;
}

h3
{
	page-break-after: avoid;
	margin-top: 12pt;
	margin-bottom: 12pt;
	mc-heading-level: 3;
	font-family: Arial;
	font-weight: bold;
	font-size: 12pt;
}

h4
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	page-break-after: avoid;
	margin-left: 0pt;
	mc-heading-level: 4;
	font-family: Arial;
	font-weight: bold;
	font-size: 12pt;
}

h5
{
	margin-top: 1em;
	margin-bottom: -0.05em;
	line-height: 105%;
	font-weight: bold;
	font-style: normal;
	color: #000000;
	font-family: sans-serif;
	font: sans-serif;
	font-size: 10pt;
}

ol
{
	margin-left: 55pt;
}

ul
{
	margin-left: 45pt;
}

li
{
	margin-top: 6pt;
	font-family: Arial;
	font-size: 10pt;
	line-height: 18px;
	margin-bottom: 6pt;
	margin-left: 6pt;
	padding-bottom: 0pt;
}

p.Note
{
	border-bottom-color: #000000;
	border-top-color: #000000;
	background-image: url('../Images/Icons/Note.png');
	mc-auto-number-format: '{b}Note:{/b}  ';
	padding-left: 60px;
	background-repeat: no-repeat;
	background-position: left top;
	margin-left: 40pt;
	margin-right: 30pt;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10pt;
	margin-top: 10pt;
	text-indent: -40px;
}

p.tableNote
{
	border-bottom-color: #000000;
	border-top-color: #000000;
	mc-auto-number-format: '{b}Note:{/b}  ';
	padding-left: 60px;
	background-repeat: no-repeat;
	background-position: left top;
	margin-right: 20pt;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10pt;
	margin-top: 10pt;
	text-indent: -40px;
	background-image: url('../Images/Icons/Note.png');
	margin-left: 6pt;
}

li.Note
{
	border-bottom-color: #000000;
	border-top-color: #000000;
	background-image: url('../Images/Icons/Note.png');
	mc-auto-number-format: '{b}Note:{/b}  ';
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: left top;
	margin-left: 40pt;
	margin-right: 40pt;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10pt;
	margin-top: 10pt;
}

p.Tip
{
	border-bottom-color: #000000;
	border-top-color: #000000;
	background-image: url('../Images/Icons/tip.png');
	mc-auto-number-format: '{b}Tip:{/b}  ';
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: left 10 px;
	margin-left: 30pt;
	margin-right: 30pt;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10pt;
	margin-top: 10pt;
}

p.tableTip
{
	border-bottom-color: #000000;
	border-top-color: #000000;
	background-image: url('../Images/Icons/Note.png');
	mc-auto-number-format: '{b}Note:{/b}  ';
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: left top;
	margin-left: 30pt;
	margin-right: 30pt;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10pt;
	margin-top: 10pt;
}

li.Tip
{
	font-size: 9pt;
	border-top-color: Green;
	border-bottom-color: Green;
	border-bottom: solid 1px;
	border-top: solid 1px;
	margin-left: 30pt;
	margin-right: 30px;
	background-repeat: no-repeat;
	mc-auto-number-format: '{b}Tip:{/b}  ';
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10pt;
	margin-top: 10pt;
}

p.Important
{
border-bottom-color: #000000;
border-top-color: #000000;
background-image: url('../Images/Icons/Important.png');
mc-auto-number-format: '{b}Important:{/b}  ';
padding-left: 5px;
background-repeat: no-repeat;
background-position: left top;
margin-left: 40pt;
margin-right: 30pt;
padding-top: 5px;
padding-bottom: 5px;
margin-bottom: 10pt;
margin-top: 10pt;
text-indent: -50px;
}

li.Important
{
	font-size: 9pt;
	border-top-color: #8000ff;
	border-bottom-color: #8000ff;
	background-image: url('../Images/Icons/important.png');
	border-bottom: solid 1px;
	border-top: solid 1px;
	margin-left: 30pt;
	margin-right: 30pt;
	background-repeat: no-repeat;
	mc-auto-number-format: '{b}Important:{/b}  ';
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10pt;
	margin-top: 10pt;
}

p.Caution
{
	font-size: 9pt;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-bottom: solid 1px;
	border-top: solid 1px;
	margin-left: 30pt;
	margin-right: 30pt;
	background-repeat: no-repeat;
	background-image: url('../Images/Icons/caution.png');
	mc-auto-number-format: '{b}Caution:{/b}  ';
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10pt;
	margin-top: 10pt;
}

li.Caution
{
	font-size: 9pt;
	border-top-color: Red;
	border-bottom-color: Red;
	border-bottom: solid 1px;
	border-top: solid 1px;
	margin-left: 30pt;
	background-repeat: no-repeat;
	mc-auto-number-format: '{b}Caution:{/b}  ';
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 30pt;
	margin-bottom: 10pt;
	margin-top: 10pt;
}

li.Warning
{
	font-size: 9pt;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-bottom: solid 1px;
	border-top: solid 1px;
	margin-left: 20pt;
	margin-right: 30pt;
	background-repeat: no-repeat;
	background-image: url('../Images/Icons/warning.png');
	mc-auto-number-format: '{b}Warning:{/b}  ';
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10pt;
	margin-top: 10pt;
}

td
{
	text-align: left;
	vertical-align: top;
	margin-bottom: 0pt;
	margin-top: 0pt;
	padding-left: 3pt;
	padding-right: 3pt;
	font-size: 10pt;
	font-family: 'sans-serif';
	font: Arial;
	padding-bottom: 3pt;
	padding-top: 3pt;
	line-height: 18px;
}

th
{
	margin-top: 3pt;
	margin-bottom: 3pt;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	color: #ffffff;
	background-color: #c11b1b;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	font-family: Arial;
	font-size: 10pt;
	padding-bottom: 3pt;
	padding-top: 3pt;
	padding-left: 3pt;
	padding-right: 3pt;
}

p.Header
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin-left: 36pt;
	text-align: right;
	font-family: Arial;
	font-size: 10pt;
}

p.Footer
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #D9D9D9;
	margin-top: 3pt;
	font-family: Arial;
}

p.ApteanCopyright
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin-left: 0pt;
	font-family: Arial;
	color: #BFBFBF;
	font-size: 12pt;
}

p.ProductName
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin-left: 0pt;
	font-family: Arial;
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 36pt;
	mc-hyphenate: never;
}

p.DocType
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin-left: 36pt;
	font-family: Arial;
	font-weight: bold;
	color: #7F7F7F;
	font-size: 18pt;
	mc-hyphenate: never;
}

p.VersionNumber
{
	margin-right: 0pt;
	text-align: right;
	font-family: Arial;
	font-weight: bold;
	color: #D9D9D9;
	font-size: 14pt;
	margin-left: 0pt;
}

p.NoSpacing1
{
	font-family: Calibri;
	font-size: 11pt;
}

p.Title
{
	margin-top: 24pt;
	margin-bottom: 30pt;
	mc-heading-level: 1;
	font-family: Arial;
	font-weight: bold;
	font-size: 24pt;
}

p.TOC1
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-family: Arial;
	font-weight: bold;
}

p.TOC2
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	margin-left: 11pt;
	font-family: Arial;
}

p.TOC3
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	margin-left: 22pt;
	font-family: Arial;
}

strong.Strong
{
	font-weight: bold;
	font-size: 10pt;
}

p.Table_Head
{
	margin-top: 3pt;
	margin-bottom: 3pt;
	margin-left: 0pt;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	color: #FFFFFF;
}

p.Table_Text
{
	margin-top: 6pt;
	margin-bottom: 3pt;
	margin-left: 0pt;
	font-family: Arial;
}

li.Table_Bullet
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin-left: 0pt;
	font-family: Arial;
}

li.NumberList
{
	margin-left: 36pt;
	margin-top: 9pt;
	margin-bottom: 0pt;
	font-family: Arial;
}

p.Image
{
	margin-top: 6pt;
	margin-bottom: 0pt;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	font-size: 11pt;
	page-break-inside: avoid;
	orphans: 2;
	widows: 2;
}

p.Caption
{
	margin-bottom: 12pt;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	mc-auto-number-format: 'CF:Figure {chapnum}-{n+}: ';
}

p.Strong
{
	font-weight: bold;
}

p.StyleTOCHeadingLeft0Firstline0
{
	margin-top: 3pt;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	margin-bottom: 6pt;
	font-size: 18pt;
	margin-left: 0pt;
	font-family: Arial;
	color: #0D0D0D;
}

p.NoteTable
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin-left: 18pt;
	margin-right: 0pt;
	font-family: Arial;
}

p.NoteListed
{
	border-bottom-color: #000000;
	border-top-color: #000000;
	background-image: url('../Images/Icons/Note.png');
	mc-auto-number-format: '{b}Note:{/b}  ';
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: left center;
	margin-left: 40pt;
	margin-right: 40pt;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10pt;
	margin-top: 10pt;
}

span.Hyperlink
{
	text-decoration: underline;
}

p.NormalWeb
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'Times New Roman';
	font-size: 12pt;
}

p.Subtitle
{
	margin-top: 3pt;
	margin-bottom: 8pt;
	font-family: Calibri;
	color: #5A5A5A;
	letter-spacing: 1pt;
	font-size: 11pt;
}

li.BBBulletBodyText
{
	margin-top: 2pt;
	margin-bottom: 2pt;
	font-family: Arial;
}

li.ListParagraph
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 36pt;
	font-family: Calibri;
	font-size: 11pt;
}

p.ListParagraph
{
	margin-top: 10pt;
	margin-bottom: 0pt;
	margin-left: 36pt;
	font-family: Calibri;
	font-size: 11pt;
}

@media print
{
	th
	{
		border-bottom: solid 1px #000000;
		border-left: solid 1px #000000;
		border-right: solid 1px #000000;
		border-top: solid 1px #000000;
		padding-bottom: 3pt;
		padding-right: 3pt;
		padding-top: 3pt;
		margin-bottom: 1pt;
		margin-top: 1pt;
		line-height: 18px;
		background-color: #808080;
		padding-left: 0pt;
		background-position: inherit;
		font-size: 9pt;
		mc-hyphenate: never;
	}

	thead
	{
		display: table-header-group;
		color: #ffffff;
		font: Arial;
		font-size: 10pt;
		font-weight: bold;
		line-height: 18px;
		margin-left: 0px;
		margin-bottom: 1px;
		margin-top: 1px;
		padding: 3pt;
		padding-left: 0pt;
	}

	td
	{
		border: solid 1px #000000;
		margin-left: 0px;
		margin-right: 0px;
		padding-bottom: 3pt;
		margin-bottom: 0px;
		margin-top: 0pt;
		padding-top: 3pt;
		margin: 0px;
		padding: 3pt;
		font-size: 9pt;
		mc-hyphenate: never;
	}

	td.NoBorder
	{
		margin-left: 0px;
		margin-right: 0px;
		padding-bottom: 3pt;
		margin-bottom: 0px;
		margin-top: 0pt;
		padding-top: 3pt;
		margin: 0px;
		padding: 3pt;
		font-size: 9pt;
		mc-hyphenate: never;
		border: solid 1px #ffffff;
		border-right-color: #000000;
	}

	p.Footer
	{
		border-top-width: 0pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		margin-left: 0pt;
		margin: 0;
		padding-top: 3px;
		font-size: 9pt;
	}

	p.Header
	{
		margin-bottom: 6pt;
		padding-bottom: 4px;
	}

	p.Title
	{
		margin-left: 0pt;
	}

	MadCap|tocProxy
	{
		border-top-width: 0px;
		border: none;
	}

	p.DocType
	{
		margin-left: 0pt;
		line-height: 36px;
		font-size: 18pt;
	}

	p.VersionNumber
	{
		text-align: left;
		margin-left: 0pt;
		margin-right: 0pt;
	}

	p.ContentsTitle
	{
		margin-left: 0pt;
		margin-top: 30pt;
		font-weight: bold;
		font-size: 18pt;
	}

	p.LineSeparator
	{
		font-size: 4pt;
		margin-top: 6pt;
		margin-bottom: 3pt;
		text-align: center;
		color: #808080;
	}

	h2
	{
		border-bottom-color: #000000;
		border-top: solid #000000;
		mc-heading-level: 3;
	}

	p.Note
	{
		border-top: solid 1px #000000;
		border-bottom: solid 1px #000000;
		background-position: left top;
		margin-right: 22pt;
		padding-left: 75px;
		line-height: 20px;
		margin-left: 40pt;
	}

	p.NoteListed
	{
		border-bottom: solid 1px;
		border-top: solid 1px;
		padding-left: 35px;
	}

	p.Tip
	{
		padding-left: 20px;
		padding-top: 5px;
		padding-bottom: 5px;
		border-top-style: solid;
		border-top-width: 1px;
		border-top-color: #000000;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: #000000;
		background-position-x: left;
		background-image: url('../Images/Icons/tip.png');
		background-position-y: -5;
		margin-top: 0;
	}

	p.Important
{
border-bottom-color: #000000;
border-top-color: #000000;
border-top-style: solid;
border-top-width: 1px;
border-top-color: #000000;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #000000;
background-position-x: left ;
background-image: url('../Images/Icons/Important.png');
mc-auto-number-format: '{b}Important:{/b}  ';
padding-left: 90px;
background-repeat: no-repeat;
margin-left: 40pt;
margin-right: 20pt;
padding-top: 5px;
padding-bottom: 5px;
margin-bottom: 10pt;
margin-top: 10pt;
background-position: left top;
padding-right: 5px;
text-indent: -70px;
}

	h4
	{
		mc-heading-level: 0;
		font-size: 11pt;
		margin-left: 36pt;
	}

	p.BT_Body_Text
	{
		font-family: Arial;
	}

	p.HC_Chapter_Title
	{
		mc-heading-level: 1;
	}

	p.ChapterNumber
	{
		font-size: 120pt;
		font-weight: bold;
		mc-heading-level: 1;
	}

	p.TOC1
	{
		color: #c11b1b;
		mc-leader-indent: 0pt;
		mc-leader-offset: 0pt;
		mc-leader-format: ' ';
		mc-auto-number-format: 'Chapter {chapnum}: ';
	}

	p.MiniTOC1
	{
		color: #000000;
		mc-pagenum-display: none;
		margin-top: 0pt;
		margin-bottom: 0pt;
		margin: 0;
	}

	p.TOC2
	{
		font-weight: bold;
		mc-toc-depth: 3;
		mc-auto-number-format: '{chapnum} - ';
	}

	h1
	{
		mc-heading-level: 2;
		mc-hyphenate: never;
		page-break-before: avoid;
	}

	p.ListParagraph
	{
		font-family: Arial;
		font-size: 10pt;
		margin-left: 50pt;
		margin-top: 6pt;
		margin-bottom: 6pt;
	}

	li
	{
		margin-bottom: 5pt;
		margin-top: 5pt;
		font-size: 10pt;
		line-height: 18px;
		padding-bottom: 0pt;
		margin-left: 5pt;
		font-family: Arial;
		mc-hyphenate: never;
	}

	table
	{
		vertical-align: top;
		padding-bottom: 4pt;
		padding-left: 2pt;
		padding-right: 2pt;
		padding-top: 2pt;
		width: 100%;
		table-layout: inherit;
		border-spacing: 0px 0px;
		border-collapse: collapse;
		margin-left: 36pt;
		margin-right: auto;
		mc-caption-repeat: true;
		caption-side: top;
		mc-caption-continuation: ' (continued)';
	}

	p.TOC3
	{
		
	}

	blockquote
	{
		margin-left: 20px;
	}

	p.ApteanCopyright
	{
		font-size: 11pt;
	}

	p.Table_Text
	{
		line-height: 12pt;
		margin-left: 0pt;
		font-size: 9pt;
		margin-top: 4pt;
	}

	li.TableList
	{
		margin-left: -36pt;
		font: Arial;
		font-size: 9pt;
	}

	li.Pri_List
	{
		margin-left: 0pt;
		mc-hyphenate: never;
	}

	li.List_Indent
	{
		margin-left: 20pt;
	}

	li.NumberList
	{
		margin-left: 15pt;
		margin-bottom: 3pt;
		margin-top: 3pt;
	}

	h3
	{
		mc-heading-level: 4;
		mc-hyphenate: never;
	}

	p.MiniTOC2
	{
		display: list-item;
	}

	MadCap|miniTocProxy
	{
		margin-top: 0px;
		padding-left: 5px;
		padding-top: 5px;
	}

	p.FooterLeft
	{
		margin-left: 0pt;
		font-size: 9pt;
	}

	p.Note1
	{
		border-top: solid 1px #000000;
		border-bottom: solid 1px #000000;
		background-position: left top;
		margin-right: 20pt;
	}

	p.Image
	{
		margin-left: 0pt;
		font-size: 10pt;
		text-align: center;
		margin-bottom: 6pt;
	}

	p.Caution
	{
		mc-auto-number-format: '  {b}Caution:{/b}  ';
		margin-left: 50pt;
		text-indent: -40px;
		mc-leader-indent: 5pt;
		padding-left: 60px;
		margin-right: 20pt;
	}

	p.ProcedureHeading
	{
		font-weight: bold;
	}

	li.ProcedureHeading
	{
		font-weight: bold;
	}

	li.BulletList2
	{
		margin-left: 30pt;
	}

	p.Indent2
	{
		margin-left: 70pt;
	}

	li.Sec_ListTable
	{
		list-style-type: circle;
		font-size: 10pt;
		margin-left: -20pt;
	}

	p.NoteTable
	{
		text-indent: -38px;
		border-bottom-width: 1px;
		border-top-width: 1px;
	}

	p.Indent1
	{
		margin-top: 0pt;
		margin-left: 55pt;
		page-break-after: avoid;
	}

	li.TableList1
	{
		margin-left: 0pt;
	}

	p.Warning
	{
		line-height: 18px;
	}

	p.WarningList
	{
		line-height: 18px;
		margin-left: 65pt;
	}

	p.WarningTable
	{
		margin-left: 5pt;
		margin-right: 5pt;
	}

	p
	{
		line-height: 18px;
	}

	h5
	{
		mc-heading-level: 0;
	}

	h1.Aboutthisguide
	{
		color: #c11b17;
	}

	MadCap|xref
	{
		font-style: italic;
		color: #000000;
		mc-format: ' {paratext} {pageref}';
	}

	p.ListNote
	{
		border-bottom-color: #000000;
		border-top-color: #000000;
		border-top: solid 1px #000000;
		border-bottom: solid 1px #000000;
		text-indent: -40px;
		margin-left: 0pt;
	}

	p.ProductName
	{
		line-height: 80px;
	}

	p.Indent3
	{
		margin-left: 80pt;
	}

	p.tableNote
	{
		font-size: 9pt;
		margin-left: 0pt;
		padding-top: 8px;
		margin-top: 5pt;
		padding-left: 75px;
	}

	MadCap|xref.Table
	{
		font-size: 10pt;
	}

	p.ListNote
	{
		border-top-color: #000000;
		border-bottom-color: #000000;
		background-image: url('../Images/Icons/Note.png');
		mc-auto-number-format: '{b}Note:{/b}  ';
		padding-left: 75px;
		background-repeat: no-repeat;
		background-position: left top;
		margin-left: 60pt;
		margin-right: 30pt;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-bottom: 10pt;
		margin-top: 10pt;
		text-indent: -40px;
	}

	caption
	{
		margin-top: 0pt;
		padding-bottom: 0pt;
	}

	p.TOC4
	{
		font-size: 9pt;
	}

	p.TOC5
	{
		font-size: 9pt;
		font-style: italic;
	}

	p.Index1
	{
		margin-top: 2pt;
		margin-bottom: 2pt;
	}

	p.Index2
	{
		margin-bottom: 2pt;
		margin-top: 2pt;
	}

	p.Index3
	{
		margin-bottom: 2pt;
		margin-top: 2pt;
	}

	p.Index4
	{
		margin-bottom: 2pt;
		margin-top: 2pt;
	}

	p.Index5
	{
		margin-bottom: 2pt;
		margin-top: 2pt;
	}

	p.IndexHeading
	{
		margin-top: 10pt;
		color: #cd0035;
		font-size: 12pt;
	}

	p.IndexHeadingManual
	{
		color: #cd0035;
		margin-left: 0pt;
		font-size: 12pt;
		font-weight: bold;
		margin-top: 0pt;
		margin-bottom: 0pt;
		margin: 0;
	}

	MadCap|variable
	{
		
	}

	MadCap|xref.Heading_And_Page
	{
		mc-format: '{paratext} {pageref}';
	}

	MadCap|xref.Table_Number
	{
		mc-format: '{paranum} {pageref}';
	}

	MadCap|xref.Chapter_Same_Guide
	{
		mc-format: ' {paratext}';
	}

	MadCap|indexProxy
	{
		border-top-style: none;
		border-top-width: 0px;
	}

	caption.Listing
	{
		mc-auto-number-format: 'CL:Listing {chapnum}-{n+} ';
	}

	MadCap|xref.Figure_And_Page
	{
		mc-format: ' {paranum} {pageref}';
	}

	MadCap|xref.Listing_And_Page
	{
		mc-format: ' {paranum} {pageref}';
	}

	MadCap|xref.Figure_Number
	{
		mc-format: '{paranum} {pageref}';
	}

	MadCap|xref.ChapterNumber
	{
		mc-format: 'Chapter {paranum},';
	}

	MadCap|xref.Figure
	{
		mc-format: '{paranum} {pageref}';
	}

	MadCap|xref.Listing
	{
		mc-format: ' {paranum} {pageref}';
	}

	td.NoBorderLeft
	{
		border-bottom-color: #ffffff;
		border-top-color: #ffffff;
		border-right-color: #000000;
	}

	caption.CaptionNoNumber
	{
		mc-auto-number-format: 'CT:Table: ';
	}
}

p.BT_Body_Text
{
	text-align: left;
	margin-right: 0in;
	margin-bottom: 0pt;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 12pt;
	text-decoration: none;
	margin-left: 0.2257in;
	margin-top: 6pt;
	font-family: 'Letter Gothic MT';
	font-size: 8.5pt;
}

p.O_Overview
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0.3in;
	margin-top: 7pt;
	margin-bottom: 7pt;
	font-family: Verdana;
	font-weight: normal;
	font-style: normal;
	font-size: 12.5pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 15.5pt;
	text-decoration: none;
}

p.HC_Chapter_Title
{
	text-align: right;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 24pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 24pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 24pt;
	text-decoration: none;
}

p.TI_Table_Insert
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 0pt;
	font-family: Verdana;
	font-weight: normal;
	font-style: normal;
	font-size: 6pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 7pt;
	text-decoration: none;
}

p.HF_Heading_First
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0.667in;
	margin-top: 15pt;
	margin-bottom: 9pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 18pt;
	letter-spacing: 0em;
	color: #c10000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 19pt;
	text-decoration: none;
}

p.Table_Text
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 4pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 8pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 10pt;
	text-decoration: none;
}

MadCap|xref.Heading_
{
	mc-format: '{paratext}';
}

span.Italic
{
	font-style: italic;
}

p.TB_Table_Bullet
{
	text-align: left;
	margin-left: 0.15in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 2pt;
	font-family: Verdana;
	font-weight: normal;
	font-style: normal;
	font-size: 8pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: '· ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 14.4px;
	mc-auto-number-class: bullet small;
	line-height: 10pt;
	text-decoration: none;
}

table
{
	vertical-align: top;
	padding-bottom: 4pt;
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	width: 100%;
	table-layout: inherit;
	border-spacing: 0px 0px;
	border-collapse: collapse;
	margin-left: 40pt;
	margin-right: auto;
}

p.zzHeader_Left1
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000099;
	mc-hyphenate: never;
	text-indent: 7px;
	line-height: 11pt;
	text-decoration: none;
}

p.FooterLeft
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin-left: 36pt;
	font-family: Arial;
	font-size: 10pt;
}

span.Deep_Blue
{
	letter-spacing: 0em;
	color: #0042a6;
	text-decoration: none;
}

span.zzPage_Number
{
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000099;
	line-height: 11pt;
	text-decoration: none;
}

p.zzHeader_Right1
{
	text-align: right;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000099;
	mc-hyphenate: never;
	text-indent: 7px;
	line-height: 11pt;
	text-decoration: none;
}

span.brick_ave
{
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #7f7f7f;
	line-height: 11pt;
	text-decoration: none;
}

p.FooterRight
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 2pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 11pt;
	text-decoration: none;
}

span.CHAPTER
{
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 120pt;
	letter-spacing: 0em;
	color: #0042a6;
	line-height: 122pt;
	text-decoration: none;
}

p.FooterFirst
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 2pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #0042a6;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 11pt;
	text-decoration: none;
}

h2.H2_Heading_2
{
	text-align: left;
	margin-left: 0in;
	margin-right: 2.5in;
	margin-top: 12pt;
	margin-bottom: 7pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 14pt;
	letter-spacing: 0.01em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 15pt;
	text-decoration: none;
}

p.ChapterNumber
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin-left: 36pt;
	font-family: Arial;
	font-size: 96pt;
}

h1.Aboutthisguide
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 12pt;
	margin-bottom: 18pt;
	mc-heading-level: 1;
	font-family: Arial;
	font-weight: bold;
	font-size: 20pt;
	color: black;
	text-align: right;
}

li.TableList
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin-left: 0pt;
	font-size: 10pt;
}

li.Pri_List
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin-left: 45pt;
	font-family: Arial;
	font-size: 10pt;
}

li.List_Indent
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin-left: 45pt;
	font-family: Arial;
	font-size: 10pt;
}

table.Apt_Table
{
	vertical-align: top;
	padding-bottom: 4pt;
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 4pt;
	table-layout: inherit;
	border-spacing: 0px 0px;
	border-collapse: collapse;
	margin-left: 40pt;
	margin-right: auto;
	width: 100%;
}

li.Sec_List
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: Arial;
	font-size: 10pt;
	list-style-type: circle;
	margin-left: 20pt;
}

p.MonthYear
{
	margin-right: 0pt;
	text-align: right;
	font-family: Arial;
	font-weight: bold;
	color: #D9D9D9;
	font-size: 14pt;
}

p.Note
{
	font-size: 9pt;
	border-bottom-color: #000000;
	border-top-color: #000000;
	background-image: url('../Images/Icons/Note.png');
	mc-auto-number-format: '{b}Note:{/b}  ';
	padding-left: 60px;
	background-repeat: no-repeat;
	background-position: left top;
	margin-left: 40pt;
	margin-right: 30pt;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-bottom: 10pt;
	margin-top: 10pt;
	text-indent: -40px;
}

p.NoteTable
{
	font-size: 9pt;
	border-bottom-color: #000000;
	border-top-color: #000000;
	background-image: url('../Images/Icons/Note.png');
	mc-auto-number-format: '{b}Note:{/b}  ';
	padding-left: 60px;
	background-repeat: no-repeat;
	background-position: left top;
	margin-left: 5pt;
	margin-right: 5pt;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10pt;
	margin-top: 10pt;
	text-indent: -40px;
}

p.ProcedureHeading
{
	
}

li.BulletList2
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin-left: 45pt;
	font-family: Arial;
	font-size: 10pt;
}

p.Indent2
{
	
}

li.Sec_ListTable
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin-left: 45pt;
	font-family: Arial;
	font-size: 10pt;
}

p.Indent1
{
	
}

li.TableList1
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin-left: 0pt;
	font-size: 10pt;
}

p.WarningList
{
	font-size: 9pt;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-bottom: solid 1px;
	border-top: solid 1px;
	margin-left: 30pt;
	margin-right: 30pt;
	background-repeat: no-repeat;
	background-image: url('../Images/Icons/warning.png');
	mc-auto-number-format: '{b}Warning:{/b}  ';
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10pt;
	margin-top: 10pt;
	text-indent: 0px;
}

ol
{
	margin-left: 50pt;
}

ul
{
	margin-left: 50pt;
}

li
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin-left: 45pt;
	font-family: Arial;
	font-size: 10pt;
}

MadCap|xref
{
	mc-format: 'see {paratext} {pageref}';
}

p.ListNote
{
	border-top-color: #000000;
	border-bottom-color: #000000;
	background-image: url('../Images/Icons/Note.png');
	mc-auto-number-format: '{b}Note:{/b}  ';
	padding-left: 60px;
	background-repeat: no-repeat;
	background-position: left top;
	margin-left: 40pt;
	margin-right: 30pt;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10pt;
	margin-top: 10pt;
	text-indent: -40px;
}

MadCap|xref.Table
{
	mc-format: '{paranum}{paratext} {pageref}';
}

MadCap|xref.Figure
{
	mc-format: '{paranum}{paratext} {pageref}';
}

MadCap|xref.FigureNum
{
	mc-format: '{paranum}';
}

p.Indent3
{
	
}

p.TableTextIndent
{
	margin-top: 6pt;
	margin-bottom: 3pt;
	font-family: Arial;
	margin-left: 15pt;
	font-size: 9pt;
}

li.TableListSec
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: Arial;
	font-size: 10pt;
	list-style-type: circle;
	margin-left: -20pt;
}

MadCap|xref.Table_And_Page
{
	mc-format: '{paranum} {pageref}';
}

MadCap|xref.Chapter_Same_Guide
{
	mc-format: 'see Chapter, {paratext} {pageref}';
}

MadCap|xref.Heading_And_Page
{
	mc-format: 'see {paratext} {pageref}';
}

p.Warning
{
	font-size: 9pt;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-bottom: solid 1px;
	border-top: solid 1px;
	margin-left: 40pt;
	margin-right: 30pt;
	background-repeat: no-repeat;
	background-image: url('../Images/Icons/warning.png');
	mc-auto-number-format: '   {b}Warning:{/b}  ';
	text-indent: -65px;
	mc-leader-indent: 10pt;
	padding-left: 85px;
	margin-left: 40pt;
	background-repeat: no-repeat;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10pt;
	margin-top: 10pt;
}

p.C_Code
{
	font-family: 'Courier New';
}

MadCap|xref.Figure_And_Page
{
	mc-format: '{paranum} {pageref}';
}

img
{
	max-width: 600px;
	page-break-inside: avoid;
}

MadCap|xref.See_Heading_And_Page
{
	
}

MadCap|xref.Table_Number
{
	mc-format: 'see {paranum} {pageref}';
}

MadCap|variable
{
	
}

MadCap|xref.ChapterNumber
{
	mc-format: 'see Chapter, {paratext} {pageref}';
}

MadCap|xref.Listing_And_Page
{
	
}

MadCap|xref.Figure_Number
{
	
}

MadCap|xref.Appendix
{
	mc-format: 'Appendix {chapnum}';
}

MadCap|xref.Listing
{
	
}

p.PartNumber
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin-left: 36pt;
	font-family: Arial;
	text-align: right;
	font-size: 40pt;
}

td.NoBorderLeft
{
	text-align: left;
	vertical-align: top;
	margin-bottom: 0pt;
	margin-top: 0pt;
	padding-left: 3pt;
	padding-right: 3pt;
	font-size: 10pt;
	font-family: 'sans-serif';
	font: Arial;
	padding-bottom: 3pt;
	padding-top: 3pt;
	line-height: 18px;
}

caption.CaptionNoNumber
{
	font: Arial;
	margin-top: 6pt;
	font-weight: bold;
	text-align: left;
	margin-left: 0pt;
	font-size: 8pt;
	mc-auto-number-format: 'CT:Table {chapnum}-{n+}  ';
	margin-bottom: 3pt;
	padding-bottom: 3pt;
}

p.TableCaution
{
	mc-auto-number-format: ' {b}Caution:{/b}  ';
	background-image: url('../Images/Icons/caution.png');
	margin-left: 10pt;
	text-indent: -55px;
	mc-leader-indent: 5pt;
	padding-left: 85px;
	margin-right: 10pt;
	font-size: 9pt;
	background-repeat: no-repeat;
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 18px;
	margin-bottom: 10pt;
	margin-top: 10pt;
}

p.tableTip
{
	border-bottom-color: #000000;
	border-top-color: #000000;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: left top;
	margin-left: 30pt;
	margin-right: 30pt;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10pt;
	margin-top: 10pt;
	background-image: url('../Images/Icons/tip.png');
	mc-auto-number-format: '{b}Tip:{/b}  ';
}

MadCap|xref.PageNumberOnly
{
	mc-format: '{page}';
}

MadCap|xref.ParaTextOnly
{
	mc-format: '{paratext}';
}