/*<meta />*/

body
{
	background-color: #ffffff;
}

p
{
	line-height: 120%;
	color: #000000;
	font: Arial;
	text-align: left;
	font-family: Arial;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	margin-top: 1em;
	margin-bottom: 0.3em;
	text-decoration: none;
	line-height: 18px;
}

p.Indent
{
	margin-top: 1pt;
	margin-bottom: 1pt;
	font: Arial;
	text-align: left;
	font-family: Arial;
	font-size: 10pt;
	margin-left: 30pt;
}

p.ProcedureHeading
{
	font-weight: bold;
	color: #0143a7;
}

li.NumberList
{
	margin-left: 5pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: Arial;
}

p.Image
{
	margin-top: 6pt;
	margin-bottom: 0pt;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	font-size: 10pt;
}

p.Caption
{
	margin-bottom: 12pt;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	mc-auto-number-format: 'CF:Figure {n+}: ';
}

p.docfeedbacksentence
{
	font-size: 6.5pt;
	text-align: center;
	color: #808080;
	margin-bottom: 1pt;
	margin-top: 1pt;
	padding-bottom: -1pt;
	padding-top: -1pt;
}

caption
{
	font-family: Arial;
	font-size: 9pt;
	line-height: 18px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	mc-auto-number-format: 'Table {n+}: ';
	margin-left: 0pt;
}

p.Note
{
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-bottom: solid 1px;
	border-top: solid 1px;
	mc-auto-number-format: '{b}Note:{/b}  ';
	padding-left: 60px;
	background-repeat: no-repeat;
	background-position: left top;
	margin-left: 40pt;
	margin-right: 30pt;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10pt;
	margin-top: 10pt;
	text-indent: -40px;
	background-image: url('../Images/Icons/Note.png');
}

p.Tip
{
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-bottom: solid 1px;
	border-top: solid 1px;
	background-image: url('../Images/Icons/tip.png');
	mc-auto-number-format: '{b}Tip:{/b}  ';
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: left 10 px;
	margin-left: 30pt;
	margin-right: 30pt;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10pt;
	margin-top: 10pt;
}

p.tableTip
{
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-bottom: solid 1px;
	border-top: solid 1px;
	background-image: url('../Images/Icons/Note.png');
	mc-auto-number-format: '{b}Note:{/b}  ';
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: left top;
	margin-left: 30pt;
	margin-right: 30pt;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10pt;
	margin-top: 10pt;
}

p.Important
{
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	mc-auto-number-format: '{b}Important:{/b} ';
	padding-left: 15px;
	background-repeat: no-repeat;
	margin-left: 30pt;
	margin-right: 30pt;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 16px;
	background-image: url('../Images/Icons/important.png');
	background-position: left center;
}

p.Caution
{
	font-size: 9pt;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-bottom: solid 1px;
	border-top: solid 1px;
	margin-left: 30pt;
	margin-right: 30pt;
	background-repeat: no-repeat;
	background-image: url('../Images/Icons/caution.png');
	mc-auto-number-format: '{b}Caution:{/b}  ';
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10pt;
	margin-top: 10pt;
	text-indent: 28px;
}

p.Warning
{
	font-size: 9pt;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-bottom: solid 1px;
	border-top: solid 1px;
	margin-left: 30pt;
	margin-right: 30pt;
	background-repeat: no-repeat;
	background-image: url('../Images/Icons/warning.png');
	mc-auto-number-format: '{b}Warning:{/b}  ';
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10pt;
	margin-top: 10pt;
	text-indent: 0px;
}

table
{
	vertical-align: top;
	padding-bottom: 4pt;
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 4pt;
	table-layout: inherit;
	border-spacing: 0px 0px;
	border-collapse: collapse;
	mc-caption-repeat: true;
	caption-side: top;
	mc-caption-continuation: ' (continued)';
	padding: 6pt;
	width: 75%;
}

thead
{
	display: table-header-group;
	color: #ffffff;
	font: Arial;
	font-size: 10pt;
	font-weight: bold;
	line-height: 18px;
	margin-left: 0px;
	margin-bottom: 1px;
	margin-top: 1px;
	padding-right: 0pt;
	padding-left: 0pt;
	padding-bottom: 0pt;
	padding-top: 0pt;
	margin-right: 0px;
	padding: 0px;
}

td
{
	text-align: left;
	vertical-align: top;
	margin-bottom: 0pt;
	margin-top: 0pt;
	padding-left: 3pt;
	padding-right: 3pt;
	font-size: 10pt;
	font-family: 'sans-serif';
	font: Arial;
	padding-bottom: 3pt;
	padding-top: 3pt;
	line-height: 18px;
	border: solid 1px #000000;
}

th
{
	margin-top: 3pt;
	margin-bottom: 3pt;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	font-family: Arial;
	font-size: 10pt;
	padding-bottom: 3pt;
	padding-top: 3pt;
	padding-left: 3pt;
	padding-right: 3pt;
	background-color: #696969;
	border: solid 1px #000000;
}

h1
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 12pt;
	margin-bottom: 18pt;
	mc-heading-level: 1;
	font-family: Arial;
	font-weight: bold;
	font-size: 15pt;
	color: #0143a7;
}

h2
{
	line-height: 120%;
	font-family: Arial;
	font-size: 13pt;
	margin-top: 12pt;
	margin-bottom: 0.75em;
	color: #0143a7;
}

h3
{
	page-break-after: avoid;
	margin-top: 12pt;
	margin-bottom: 12pt;
	mc-heading-level: 3;
	font-family: Arial;
	font-weight: bold;
	font-size: 12pt;
	color: #0143a7;
	line-height: 120%;
}

h4
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	page-break-after: avoid;
	margin-left: 0pt;
	mc-heading-level: 4;
	font-family: Arial;
	font-weight: bold;
	font-size: 10pt;
	color: #0143a7;
}

li
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin-left: 0pt;
	font-family: Arial;
	font-size: 10pt;
}

li.Pri
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin-left: 0pt;
	font-family: Arial;
	font-size: 10pt;
}

li.Sec
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: Arial;
	font-size: 10pt;
	list-style-type: circle;
	margin-left: 15pt;
}

li.Ter
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: Arial;
	font-size: 10pt;
	list-style-type: square;
	margin-left: 30pt;
}

OL,
UL
{
	font-size: 10pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: Arial, sans-serif;
}

div.indentMainSection
{
	line-height: 120%;
	color: #000000;
	font: Verdana;
	text-align: left;
	font-family: Verdana, sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	margin-top: 1em;
	margin-bottom: 0.3em;
	padding-left: 0em;
	text-decoration: none;
}

div.indentSubSection
{
	line-height: 120%;
	color: #000000;
	font: Verdana;
	text-align: left;
	font-family: Verdana, sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	margin-top: 1em;
	margin-bottom: 0.3em;
	padding-left: 2em;
	text-decoration: none;
}

li.TableList
{
	margin-left: -10pt;
}

td.NoTopBorder
{
	border-top-color: #ffffff;
	border-top-width: 0px;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
}

td.NoBorder
{
	border: solid 0px #000000;
}

td.NoBottomBorder
{
	border-bottom-width: 0px;
}

td.NoTopBottomBorder
{
	border-bottom-width: 0px;
	border-top-width: 0px;
}

td.NoRightBorder
{
	border-right-width: 0px;
}

td.NoLeftBorder
{
	border-left-width: 0px;
}

td.Grey
{
	background-color: #dcdcdc;
	padding-top: 3pt;
}

p.CodeIndent1
{
	margin-left: 55pt;
	font-family: monospace;
}

p.CodeIndent2
{
	font-family: monospace;
	margin-left: 70pt;
}

p.CodeIndent3
{
	font-family: monospace;
	margin-left: 85pt;
}

p.CodeNoIndent
{
	font-family: monospace;
}

MadCap|xref.Heading_And_Page
{
	mc-format: '{paratext} {pageref}';
}

MadCap|xref.Table_Number
{
	mc-format: '{paranum} {pageref}';
}

MadCap|xref.Chapter_Same_Guide
{
	mc-format: '{paratext}';
}

MadCap|xref.Figure_And_Page
{
	mc-format: '{paranum} {pageref}';
}

MadCap|xref.Listing_And_Page
{
	mc-format: '{paranum} {pageref}';
}

MadCap|xref.Figure_Number
{
	mc-format: '{paranum} {pageref}';
}

p.TableImportant
{
	border-bottom-color: #000000;
	border-top-color: #000000;
	padding-left: 90px;
	background-repeat: no-repeat;
	background-position: left top;
	margin-right: 20pt;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10pt;
	margin-top: 10pt;
	text-indent: -70px;
	background-image: url('../Images/Icons/Note.png');
	margin-left: 6pt;
	mc-auto-number-format: '{b}Important:{/b}  ';
}

p.WarningTable
{
	font-size: 9pt;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-bottom: solid 1px;
	border-top: solid 1px;
	margin-left: 30pt;
	margin-right: 30pt;
	background-repeat: no-repeat;
	background-image: url('../Images/Icons/warning.png');
	mc-auto-number-format: '{b}Warning:{/b}  ';
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10pt;
	margin-top: 10pt;
	text-indent: 0px;
}

p.ListNote
{
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-bottom: solid 1px;
	border-top: solid 1px;
	mc-auto-number-format: '{b}Note:{/b}  ';
	padding-left: 60px;
	background-repeat: no-repeat;
	background-position: left top;
	margin-left: 40pt;
	margin-right: 30pt;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10pt;
	margin-top: 10pt;
	text-indent: -40px;
	background-image: url('../Images/Icons/Note.png');
}

p.tableNote
{
	border-bottom-color: #000000;
	border-top-color: #000000;
	background-image: url('../Images/Icons/Note.png');
	mc-auto-number-format: '{b}Note:{/b}  ';
	padding-left: 60px;
	background-repeat: no-repeat;
	background-position: left top;
	margin-left: 18pt;
	margin-right: 18pt;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10pt;
	margin-top: 10pt;
	text-indent: -40px;
}

caption.Listing
{
	font-family: Arial;
	margin-bottom: 6pt;
	margin-top: 6pt;
	font-weight: bold;
	text-align: left;
	margin-left: 0pt;
	font-size: 8pt;
	mc-auto-number-format: 'Listing {n+}: ';
}

p.Indent1
{
	margin-top: 0pt;
	margin-left: 30pt;
}

p.Indent2
{
	margin-left: 50pt;
}

p.Indent3
{
	margin-left: 70pt;
}

span.Hyperlink
{
	text-decoration: underline;
}

blockquote
{
	margin-left: 20px;
}

li.List_Indent
{
	margin-left: 20pt;
}

li.NumberList
{
	margin-left: 15pt;
	margin-bottom: 3pt;
	margin-top: 3pt;
}

li.BulletList2
{
	margin-left: 30pt;
}

li.NumberList
{
	list-style-type: decimal;
	margin-left: 15pt;
}

MadCap|breadcrumbsProxy
{
	mc-breadcrumbs-prefix: 'You are viewing: ';
	mc-toc-depth: 3;
	text-align: left;
	vertical-align: 3px;
	margin-bottom: 25px;
	padding-bottom: 3px;
	padding-left: 2px;
	font-size: 10pt;
	padding-top: 3px;
	border-bottom-color: #708090;
	border-bottom-width: 1px;
	border-left-color: #708090;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #708090;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #708090;
	border-top-style: solid;
	border-top-width: 1px;
	margin-top: 0px;
	font: Arial;
	font-family: Arial;
	background-color: #f7f7f7;
}

MadCap|xref
{
	font-style: italic;
	mc-format: ' {paratext}';
	color: #0000cd;
}
table.Chapter_Table
{
	width: 40%;
}
@media print
{
	table
	{
		vertical-align: top;
		padding-bottom: 4pt;
		padding-left: 2pt;
		padding-right: 2pt;
		padding-top: 4pt;
		width: 100%;
		table-layout: inherit;
		border-spacing: 0px 0px;
		border-collapse: collapse;
		mc-caption-repeat: true;
		caption-side: top;
		mc-caption-continuation: ' (continued)';
		margin-right: 5pt;
		padding: 6pt;
		margin-left: 5pt;
	}
	table.Chapter_Table
	{
		width: 40%;
	}
	li.NumberList
	{
		list-style-type: decimal;
		margin-left: 15pt;
	}

	p.Indent
	{
		margin-left: 20pt;
	}

	UL
	{
		margin-left: 0px;
	}

	li.TableList
	{
		margin-left: -36pt;
		font: Arial;
		font-size: 9pt;
	}

	li.Sec_ListTable
	{
		list-style-type: circle;
		font-size: 10pt;
		margin-left: -20pt;
	}

	th
	{
		padding-top: 0pt;
	}
}

@media non-print
{
	MadCap|breadcrumbsProxy
	{
		background-color: #f7f7f7;
	}
}

p.HC_Chapter_Title
{
	text-align: left;
	font-size: 18pt;
	margin-bottom: 20pt;
}

p.Table_Text
{
	margin-left: 0pt;
	font-family: Arial;
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	text-decoration: none;
	font-size: 10pt;
	margin-bottom: 1pt;
	margin-top: 1pt;
	line-height: 18pt;
}
