<Configuration>
    <DatabaseConnectionString>
        Provider=SQLOLEDB.1;User ID=USER;Password=PASSWORD;Initial Catalog=DATABASENAME;Data Source=SERVERNAME;Persist Security Info=True
    </DatabaseConnectionString>
    <OptOutText>
        We respect your privacy. If you do not wish to receive these emails in the future, please click here.
    </OptOutText>
    <OptOutURL>
        http://www.externalwebserver.com/unsubscribe/default.asp
    </OptOutURL>
    <TimageURL>
        http://www.externalwebserver.com/timage/
    </TimageURL>
    <iSiteID>
        1
    </iSiteID>
</Configuration>