/* MadCap Table Style: */

/*<meta Version="7" />*/

mcTableStyle
{
	name: table_3;
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #ffffff;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-spacing-y: 2;
	border-spacing-x: 2;
	cell-padding-left: 4pt;
	cell-padding-right: 4pt;
	cell-padding-top: 2pt;
	cell-padding-bottom: 2pt;
	margin-left: 1cm;
	margin-right: 10px;
	margin-top: 1px;
	margin-bottom: 1px;
	max-id: 3;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0pt;
	separator-color: #ffffff;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #ffffff;
	font-size: 9pt;
	font-family: Arial;
	background-color: #a9a9a9;
	name: Header1;
	id: 2;
	size: 0.80cm;
	font-weight: bold;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 0pt;
	separator-color: #ffffff;
	font-size: 9pt;
	font-family: Arial;
	background-color: #e6e6e6;
	vertical-align: top;
	name: Body1;
	id: 1;
	size: 0.6cm;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-table_3
{
	border-collapse: separate;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #ffffff;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-bottom-width: 1px;
	margin-left: 1cm;
	margin-right: 10px;
	margin-top: 1px;
	margin-bottom: 1px;
	border-spacing: 2px 2px;
}

.TableStyle-table_3 .Column-Column1
{
	
}

.TableStyle-table_3 .Head-Header1
{
	height: 0.80cm;
}

.TableStyle-table_3 .HeadI-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	background-color: #a9a9a9;
}

.TableStyle-table_3 .HeadI-Column1-Header1 p
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-table_3 .HeadE-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-width: 0pt;
	border-right-color: #ffffff;
	border-right-style: solid;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	background-color: #a9a9a9;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-table_3 .HeadE-Column1-Header1 p
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-table_3 .HeadF-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	background-color: #a9a9a9;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-table_3 .HeadF-Column1-Header1 p
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-table_3 .HeadH-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-width: 0pt;
	border-right-color: #ffffff;
	border-right-style: solid;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	background-color: #a9a9a9;
}

.TableStyle-table_3 .HeadH-Column1-Header1 p
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-table_3 .HeadD-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	background-color: #a9a9a9;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-table_3 .HeadD-Column1-Header1 p
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-table_3 .HeadC-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	background-color: #a9a9a9;
}

.TableStyle-table_3 .HeadC-Column1-Header1 p
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-table_3 .HeadB-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-width: 0pt;
	border-right-color: #ffffff;
	border-right-style: solid;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	background-color: #a9a9a9;
}

.TableStyle-table_3 .HeadB-Column1-Header1 p
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-table_3 .HeadA-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	background-color: #a9a9a9;
}

.TableStyle-table_3 .HeadA-Column1-Header1 p
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-table_3 .HeadG-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	background-color: #a9a9a9;
}

.TableStyle-table_3 .HeadG-Column1-Header1 p
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-table_3 .Foot-Footer1
{
	
}

.TableStyle-table_3 .FootI-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-table_3 .FootI-Column1-Footer1 p
{
	
}

.TableStyle-table_3 .FootE-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-width: 0pt;
	border-right-color: #ffffff;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-table_3 .FootE-Column1-Footer1 p
{
	
}

.TableStyle-table_3 .FootF-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-table_3 .FootF-Column1-Footer1 p
{
	
}

.TableStyle-table_3 .FootH-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-width: 0pt;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-table_3 .FootH-Column1-Footer1 p
{
	
}

.TableStyle-table_3 .FootD-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-table_3 .FootD-Column1-Footer1 p
{
	
}

.TableStyle-table_3 .FootC-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-table_3 .FootC-Column1-Footer1 p
{
	
}

.TableStyle-table_3 .FootB-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-width: 0pt;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-table_3 .FootB-Column1-Footer1 p
{
	
}

.TableStyle-table_3 .FootA-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-table_3 .FootA-Column1-Footer1 p
{
	
}

.TableStyle-table_3 .FootG-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-table_3 .FootG-Column1-Footer1 p
{
	
}

.TableStyle-table_3 .Body-Body1
{
	height: 0.6cm;
}

.TableStyle-table_3 .BodyI-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	vertical-align: top;
	background-color: #e6e6e6;
}

.TableStyle-table_3 .BodyI-Column1-Body1 p
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-table_3 .BodyE-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	vertical-align: top;
	background-color: #e6e6e6;
	border-bottom-width: 0pt;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-right-width: 0pt;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-table_3 .BodyE-Column1-Body1 p
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-table_3 .BodyF-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	vertical-align: top;
	background-color: #e6e6e6;
	border-bottom-width: 0pt;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-table_3 .BodyF-Column1-Body1 p
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-table_3 .BodyH-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	vertical-align: top;
	background-color: #e6e6e6;
	border-right-width: 0pt;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-table_3 .BodyH-Column1-Body1 p
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-table_3 .BodyD-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	vertical-align: top;
	background-color: #e6e6e6;
	border-bottom-width: 0pt;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-table_3 .BodyD-Column1-Body1 p
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-table_3 .BodyC-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	vertical-align: top;
	background-color: #e6e6e6;
}

.TableStyle-table_3 .BodyC-Column1-Body1 p
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-table_3 .BodyB-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	vertical-align: top;
	background-color: #e6e6e6;
	border-right-width: 0pt;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-table_3 .BodyB-Column1-Body1 p
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-table_3 .BodyA-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	vertical-align: top;
	background-color: #e6e6e6;
}

.TableStyle-table_3 .BodyA-Column1-Body1 p
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-table_3 .BodyG-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	vertical-align: top;
	background-color: #e6e6e6;
}

.TableStyle-table_3 .BodyG-Column1-Body1 p
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
}

