/* MadCap Table Style: */

/*<meta Version="7" />*/

mcTableStyle
{
	name: table_cuation_2;
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-spacing-y: 2;
	border-spacing-x: 2;
	cell-padding-left: 4pt;
	cell-padding-right: 4pt;
	cell-padding-top: 2pt;
	cell-padding-bottom: 2pt;
	margin-left: 0.90cm;
	margin-right: 10px;
	margin-top: 1px;
	margin-bottom: 1px;
	max-id: 3;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0pt;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #ffffff;
	font-size: 9pt;
	font-family: Arial;
	name: Header1;
	id: 2;
	size: 0.80cm;
	font-weight: bold;
	color: #ff0000;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: bolder;
	separator-style: solid;
	separator-width: 0pt;
	separator-color: #ffffff;
	font-size: 9pt;
	font-family: Arial;
	background-color: #ffffff;
	vertical-align: top;
	name: Body1;
	id: 1;
	size: 0.6cm;
	color: #ff0000;
	text-align: left;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-table_cuation_2
{
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	margin-left: 0.90cm;
	margin-right: 10px;
	margin-top: 1px;
	margin-bottom: 1px;
	border-spacing: 2px 2px;
}

.TableStyle-table_cuation_2 .Column-Column1
{
	
}

.TableStyle-table_cuation_2 .Head-Header1
{
	height: 0.80cm;
}

.TableStyle-table_cuation_2 .HeadI-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-table_cuation_2 .HeadI-Column1-Header1 p
{
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-table_cuation_2 .HeadE-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-width: 0pt;
	border-right-style: solid;
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-table_cuation_2 .HeadE-Column1-Header1 p
{
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-table_cuation_2 .HeadF-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-table_cuation_2 .HeadF-Column1-Header1 p
{
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-table_cuation_2 .HeadH-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-width: 0pt;
	border-right-style: solid;
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-table_cuation_2 .HeadH-Column1-Header1 p
{
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-table_cuation_2 .HeadD-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-table_cuation_2 .HeadD-Column1-Header1 p
{
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-table_cuation_2 .HeadC-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-table_cuation_2 .HeadC-Column1-Header1 p
{
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-table_cuation_2 .HeadB-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-width: 0pt;
	border-right-style: solid;
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-table_cuation_2 .HeadB-Column1-Header1 p
{
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-table_cuation_2 .HeadA-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-table_cuation_2 .HeadA-Column1-Header1 p
{
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-table_cuation_2 .HeadG-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-table_cuation_2 .HeadG-Column1-Header1 p
{
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-table_cuation_2 .Foot-Footer1
{
	
}

.TableStyle-table_cuation_2 .FootI-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-table_cuation_2 .FootI-Column1-Footer1 p
{
	
}

.TableStyle-table_cuation_2 .FootE-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-width: 0pt;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-table_cuation_2 .FootE-Column1-Footer1 p
{
	
}

.TableStyle-table_cuation_2 .FootF-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-table_cuation_2 .FootF-Column1-Footer1 p
{
	
}

.TableStyle-table_cuation_2 .FootH-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-width: 0pt;
	border-right-style: solid;
}

.TableStyle-table_cuation_2 .FootH-Column1-Footer1 p
{
	
}

.TableStyle-table_cuation_2 .FootD-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-table_cuation_2 .FootD-Column1-Footer1 p
{
	
}

.TableStyle-table_cuation_2 .FootC-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-table_cuation_2 .FootC-Column1-Footer1 p
{
	
}

.TableStyle-table_cuation_2 .FootB-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-width: 0pt;
	border-right-style: solid;
}

.TableStyle-table_cuation_2 .FootB-Column1-Footer1 p
{
	
}

.TableStyle-table_cuation_2 .FootA-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-table_cuation_2 .FootA-Column1-Footer1 p
{
	
}

.TableStyle-table_cuation_2 .FootG-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-table_cuation_2 .FootG-Column1-Footer1 p
{
	
}

.TableStyle-table_cuation_2 .Body-Body1
{
	height: 0.6cm;
}

.TableStyle-table_cuation_2 .BodyI-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bolder;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-table_cuation_2 .BodyI-Column1-Body1 p
{
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bolder;
}

.TableStyle-table_cuation_2 .BodyE-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bolder;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 0pt;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-right-width: 0pt;
	border-right-style: solid;
}

.TableStyle-table_cuation_2 .BodyE-Column1-Body1 p
{
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bolder;
}

.TableStyle-table_cuation_2 .BodyF-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bolder;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 0pt;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-table_cuation_2 .BodyF-Column1-Body1 p
{
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bolder;
}

.TableStyle-table_cuation_2 .BodyH-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bolder;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-right-width: 0pt;
	border-right-style: solid;
}

.TableStyle-table_cuation_2 .BodyH-Column1-Body1 p
{
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bolder;
}

.TableStyle-table_cuation_2 .BodyD-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bolder;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 0pt;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-table_cuation_2 .BodyD-Column1-Body1 p
{
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bolder;
}

.TableStyle-table_cuation_2 .BodyC-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bolder;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-table_cuation_2 .BodyC-Column1-Body1 p
{
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bolder;
}

.TableStyle-table_cuation_2 .BodyB-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bolder;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-right-width: 0pt;
	border-right-style: solid;
}

.TableStyle-table_cuation_2 .BodyB-Column1-Body1 p
{
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bolder;
}

.TableStyle-table_cuation_2 .BodyA-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bolder;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-table_cuation_2 .BodyA-Column1-Body1 p
{
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bolder;
}

.TableStyle-table_cuation_2 .BodyG-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bolder;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-table_cuation_2 .BodyG-Column1-Body1 p
{
	color: #ff0000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bolder;
}

