<configuration>
    <system.web>
        <customErrors mode="Off"/>
	<httpHandlers>
		<add verb="*" path="*.gif" type="ImageTrackerHandler.ImageHandler,ImageTrackerHandler"/>
	</httpHandlers>
    </system.web>
    <appSettings>
        <add key="DBCONN_STRING" value="Data Source=DATABASE_SERVER_NAME;Initial Catalog=ONYX_DATABASE_NAME;User ID=DATABASE_USER_NAME;Password=DATABASE_PASSWORD" />
        <add key="GIF_FILE" value="/timage/images/space.gif" />
	<add key="SITEID" value="1" />
    </appSettings>
</configuration>


