/*<meta />*/

html
{
	background-color: #ffffff;
}

H1.BookTitle
{
	border-bottom: solid 1px;
	color: #08486B;
	font-family: Arial;
	font-size: 20pt;
	font-weight: bold;
	left: 0px;
	line-height: 110%;
	margin-left: 5pt;
	margin-right: 0pt;
	page-break-before: always;
	right: 0px;
}

H1.Section
{
	border-bottom: solid 1px;
	color: #08486B;
	font-weight: bold;
	font-family: arial;
	font-size: 20pt;
	left: 0px;
	line-height: 110%;
	margin-left: 5pt;
	margin-right: 0pt;
	margin-top: -2.5cm;
	page-break-before: always;
	right: 0px;
}

H1.Heading
{
	border-bottom: solid 1px;
	color: #08486B;
	font-weight: bold;
	font-family: arial;
	font-size: 19pt;
	left: 0px;
	line-height: 110%;
	margin-left: 5pt;
	margin-right: 0pt;
	margin-top: -2.5cm;
	page-break-before: always;
	right: 0px;
}

H2.Heading
{
	border-bottom: solid 1px;
	color: #08486B;
	font-weight: bold;
	font-family: arial;
	font-size: 18pt;
	left: 0px;
	line-height: 110%;
	margin-left: 5pt;
	margin-right: 0pt;
	margin-top: -2.5cm;
	page-break-before: always;
	right: 0px;
}

H3.Heading
{
	border-bottom: solid 1px;
	color: #08486B;
	font-weight: bold;
	font-family: arial;
	font-size: 17pt;
	left: 0px;
	line-height: 110%;
	margin-left: 5pt;
	margin-right: 0pt;
	margin-top: -2.5cm;
	page-break-before: always;
	right: 0px;
}

h3.ElementHeader
{
	margin-top: 12pt;
	margin-bottom: 6pt;
	line-height: 110%;
	font-weight: bold;
	font-family: arial;
	color: #08486B;
	font-size: 12pt;
	border-bottom: solid 0px;
	margin-left: 5pt;
}

H4.Heading
{
	border-bottom: solid 1px;
	color: #08486B;
	font-weight: bold;
	font-family: arial;
	font-size: 16pt;
	left: 0px;
	line-height: 110%;
	margin-left: 5pt;
	margin-right: 0pt;
	margin-top: -2.5cm;
	page-break-before: always;
	right: 0px;
}

H5.Heading
{
	border-bottom: solid 1px;
	color: #08486B;
	font-weight: bold;
	font-family: arial;
	font-size: 15pt;
	left: 0px;
	line-height: 110%;
	margin-left: 5pt;
	margin-right: 0pt;
	margin-top: -2.5cm;
	page-break-before: always;
	right: 0px;
}

H6.Heading
{
	border-bottom: solid 1px;
	color: #08486B;
	font-weight: bold;
	font-family: arial;
	font-size: 14pt;
	left: 0px;
	line-height: 110%;
	margin-left: 5pt;
	margin-right: 0pt;
	margin-top: -2.5cm;
	page-break-before: always;
	right: 0px;
}

H7.Heading
{
	border-bottom: solid 1px;
	color: #08486B;
	font-weight: bold;
	font-family: arial;
	font-size: 13pt;
	left: 0px;
	line-height: 110%;
	margin-left: 5pt;
	margin-right: 0pt;
	margin-top: -2.5cm;
	page-break-before: always;
	right: 0px;
}

li.ListBullet_1
{
	font-family: arial;
	margin-bottom: 6pt;
	margin-top: 6pt;
	margin-left: 0.5cm margin-top;
	font-size: 10pt;
	list-style-position: outside;
	list-style-image: none;
	line-height: 130%;
}

li.ListBullet_2
{
	font-family: arial;
	margin-bottom: 6pt;
	margin-top: 6pt;
	font-size: 10pt;
	margin-left: 0.5cm;
	list-style-position: outside;
	list-style-image: none;
	line-height: 130%;
}

li.ListBullet_3
{
	font-family: arial;
	margin-bottom: 6pt;
	margin-top: 6pt;
	font-size: 10pt;
	margin-left: 1.0cm;
	list-style-position: outside;
	list-style-image: none;
	line-height: 130%;
}

p.BodyText
{
	font-family: Arial;
	font-size: 10pt;
	margin-bottom: 10pt;
	margin-left: 5pt;
	margin-top: 10pt;
	line-height: 130%;
}

p.BodyTextIndent_1
{
	font-family: arial;
	font-size: 10pt;
	margin-bottom: 6pt;
	line-height: 135%;
	margin-top: 6pt;
	margin-left: 0.5cm;
}

p.BodyTextIndent_2
{
	font-family: arial;
	font-size: 10pt;
	line-height: 135%;
	margin-bottom: 6pt;
	margin-top: 6pt;
	margin-left: 1.10cm;
}

p.BodyTextIndent_3
{
	font-family: arial;
	font-size: 10pt;
	line-height: 135%;
	margin-bottom: 6pt;
	margin-left: 2.0cm;
	margin-top: 6pt;
}

p.code
{
	margin-bottom: 10pt;
	margin-left: 5pt;
	margin-top: 10pt;
	line-height: 130%;
	font-family: 'Courier New';
	font-size: 11pt;
}

p.ElementHeader
{
	margin-top: 12pt;
	margin-bottom: 6pt;
	line-height: 110%;
	font-weight: bold;
	font-family: arial;
	color: #08486B;
	font-size: 12pt;
	border-bottom: solid 0px;
	margin-left: 5pt;
}

p.Caution
{
	font-size: 10pt;
	border-top-color: Red;
	border-bottom-color: Red;
	border-bottom: solid 1px;
	border-top: solid 1px;
	margin-left: 30pt;
	margin-right: 30pt;
	background-repeat: no-repeat;
	mc-auto-number-format: '{b}Caution:{/b}  ';
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10pt;
	margin-top: 10pt;
}

p.Important
{
	border-bottom: solid 1px;
	border-top: solid 1px;
	margin-left: 30pt;
	background-repeat: no-repeat;
	mc-auto-number-format: '{b}Important:{/b}  ';
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-color: #9932cc;
	border-bottom-color: #9932cc;
	margin-right: 30px;
	margin-bottom: 10pt;
	margin-top: 10pt;
	font-size: 10pt;
}

p.Note
{
	border-bottom: solid 1px;
	border-top: solid 1px;
	background-repeat: no-repeat;
	mc-auto-number-format: '{b}Note:{/b}  ';
	margin-left: 30pt;
	margin-right: 30pt;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-color: #0000ff;
	border-top-color: #0000ff;
	margin-bottom: 10pt;
	margin-top: 10pt;
	font-size: 10pt;
	font-family: sans-serif;
}

p.TableText
{
	font-family: Arial;
	font-size: 10pt;
	margin-bottom: 3pt;
	margin-left: 3pt;
	margin-top: 3pt;
	line-height: 130%;
}

p.TableTextExpanded
{
	font-family: Arial;
	font-size: 10pt;
	letter-spacing: 1px;
	margin-bottom: 3pt;
	margin-left: 3pt;
	margin-top: 3pt;
	line-height: 130%;
}

p.TaskHeading
{
	color: #08486B;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	margin-bottom: 6pt;
	margin-left: 5pt;
	margin-top: 12pt;
}

p.Tip
{
	font-size: 10pt;
	border-bottom: solid 1px;
	border-top: solid 1px;
	margin-left: 30pt;
	background-repeat: no-repeat;
	mc-auto-number-format: '{b}Warning:{/b}  ';
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-color: #ff0000;
	border-bottom-color: #ff0000;
	margin-right: 30px;
	margin-bottom: 10pt;
	margin-top: 10pt;
}

p.Warning
{
	font-size: 10pt;
	border-bottom: solid 1px;
	border-top: solid 1px;
	margin-left: 30pt;
	background-repeat: no-repeat;
	mc-auto-number-format: '{b}Warning:{/b}  ';
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-color: #ff0000;
	border-bottom-color: #ff0000;
	margin-right: 30px;
	margin-bottom: 10pt;
	margin-top: 10pt;
}

a:Visited
{
	color: #800080;
	text-decoration: underline;
}

a:Hover
{
	color: #ff3300;
	text-decoration: underline;
}

a.dropspot
{
	color: #0000ff;
	cursor: hand;
	text-decoration: none;
	font-style: normal;
}

a.dropspot:link
{
	font-style: normal;
	text-decoration: underline;
}

a.dropspot:Visited
{
	color: #0000ff;
	font-style: italic;
	text-decoration: none;
}

MadCap|expandingHead.expandspot
{
	cursor: hand;
	color: #008000;
	font-style: normal;
}

MadCap|dropDownHotspot.dropspot
{
	font-style: italic;
	color: #0000ff;
	cursor: hand;
	text-decoration: none;
}

MadCap|dropDownHead
{
	border-bottom-width: 0px;
	color: #0000ff;
	font-size: 10pt;
	text-decoration: underline;
	font: Arial;
}

a.dropspot:Hover
{
	border-bottom: solid 0px;
	font-style: normal;
	font-family: sans-serif;
	font: sans-serif;
	font-size: 10pt;
	text-decoration: underline;
}

MadCap|dropDownHotspot.dropspot:hover
{
	font-style: normal;
	border-bottom: solid 1px;
}


code
{
	font-size: 10pt;
}

MadCap|dropDownHead._2
{
	border-bottom-width: 0px;
	color: #0000ff;
	font-size: 10pt;
	text-decoration: underline;
	font: Arial;
	margin-left: 0.5cm;
	padding-top: 6pt;
	padding-bottom: 6pt;
}

caption
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	padding-top: 6pt;
	padding-bottom: 6pt;
}