/*<meta />*/

html
{
	background-color: #ffffff;
}

H1.BookTitle
{
	border-bottom: solid 1px;
	color: #08486B;
	font-family: Arial;
	font-size: 20pt;
	font-weight: bold;
	left: 0px;
	line-height: 110%;
	margin-left: 5pt;
	margin-right: 0pt;
	page-break-before: always;
	right: 0px;
	margin-top: 0cm;
}

H1.Section
{
	border-bottom: solid 1px;
	color: #08486B;
	font-weight: bold;
	font-family: arial;
	font-size: 20pt;
	left: 0px;
	line-height: 110%;
	margin-left: 5pt;
	margin-right: 0pt;
	page-break-before: always;
	right: 0px;
	margin-top: 0cm;
}

h1
{
	border-bottom: solid 1px;
	color: #08486B;
	font-weight: bold;
	font-family: arial;
	font-size: 19pt;
	left: 0px;
	line-height: 110%;
	margin-left: 5pt;
	margin-right: 0pt;
	page-break-before: always;
	right: 0px;
	margin-top: 0cm;
}

h2
{
	border-bottom: solid 1px;
	color: #08486B;
	font-weight: bold;
	font-family: arial;
	font-size: 18pt;
	left: 0px;
	line-height: 110%;
	margin-left: 5pt;
	margin-right: 0pt;
	page-break-before: always;
	right: 0px;
	margin-top: 0cm;
}

h3
{
	border-bottom: solid 1px;
	color: #08486B;
	font-weight: bold;
	font-family: arial;
	font-size: 17pt;
	left: 0px;
	line-height: 110%;
	margin-left: 5pt;
	margin-right: 0pt;
	page-break-before: always;
	right: 0px;
	margin-top: 0pt;
}

h3.ElementHeader
{
	margin-top: 12pt;
	margin-bottom: 6pt;
	line-height: 110%;
	font-weight: bold;
	font-family: arial;
	color: #08486B;
	font-size: 12pt;
	border-bottom: solid 0px;
	margin-left: 5pt;
}

h4
{
	border-bottom: solid 1px;
	color: #08486B;
	font-weight: bold;
	font-family: arial;
	font-size: 16pt;
	left: 0px;
	line-height: 110%;
	margin-left: 5pt;
	margin-right: 0pt;
	page-break-before: always;
	right: 0px;
	margin-top: 0cm;
}

h5
{
	border-bottom: solid 1px;
	color: #08486B;
	font-weight: bold;
	font-family: arial;
	font-size: 19pt;
	left: 0px;
	line-height: 110%;
	margin-left: 5pt;
	margin-right: 0pt;
	page-break-before: always;
	right: 0px;
	margin-top: 0cm;
}

h6
{
	border-bottom: solid 1px;
	color: #08486B;
	font-weight: bold;
	font-family: arial;
	font-size: 14pt;
	left: 0px;
	line-height: 110%;
	margin-left: 5pt;
	margin-right: 0pt;
	page-break-before: always;
	right: 0px;
	margin-top: 0cm;
}

h7
{
	border-bottom: solid 1px;
	color: #08486B;
	font-weight: bold;
	font-family: arial;
	font-size: 13pt;
	left: 0px;
	line-height: 110%;
	margin-left: 5pt;
	margin-top: -0.5cm;
	margin-right: 0pt;
	page-break-before: always;
	right: 0px;
}

li
{
	font-family: arial;
	margin-bottom: 6pt;
	margin-top: 6pt;
	margin-left: 0.5cm margin-top;
	font-size: 10pt;
	list-style-position: outside;
	list-style-image: none;
	line-height: 18px;
}

li.ListBullet_1
{
	font-family: arial;
	margin-bottom: 6pt;
	margin-top: 6pt;
	margin-left: 0.5cm margin-top;
	font-size: 10pt;
	list-style-position: outside;
	list-style-image: none;
	line-height: 130%;
}

li.ListBullet_2
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: Arial;
	font-size: 10pt;
	list-style-type: circle;
	margin-left: 15pt;
}

li.ListBullet_3
{
	font-family: arial;
	margin-bottom: 6pt;
	margin-top: 6pt;
	font-size: 10pt;
	margin-left: 1.0cm;
	list-style-position: outside;
	list-style-image: none;
	line-height: 130%;
}

p
{
	font-family: Arial;
	font-size: 10pt;
	margin-bottom: 10pt;
	margin-left: 5pt;
	margin-top: 10pt;
	line-height: 130%;
}

li.Sec_List
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: Arial;
	font-size: 10pt;
	list-style-type: circle;
	margin-left: 15pt;
}

li.Ter_List
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: Arial;
	font-size: 10pt;
	list-style-type: square;
	margin-left: 30pt;
}

p.BodyText
{
	font-family: Arial;
	font-size: 10pt;
	margin-bottom: 10pt;
	margin-left: 5pt;
	margin-top: 10pt;
	line-height: 130%;
}

p.BodyTextIndent_1
{
	font-family: arial;
	font-size: 10pt;
	margin-bottom: 6pt;
	line-height: 135%;
	margin-top: 6pt;
	margin-left: 0.5cm;
}

p.BodyTextIndent_2
{
	font-family: arial;
	font-size: 10pt;
	line-height: 135%;
	margin-bottom: 6pt;
	margin-top: 6pt;
	margin-left: 1.10cm;
}

p.BodyTextIndent_3
{
	font-family: arial;
	font-size: 10pt;
	line-height: 135%;
	margin-bottom: 6pt;
	margin-left: 2.0cm;
	margin-top: 6pt;
}

p.code
{
	margin-bottom: 10pt;
	margin-left: 5pt;
	margin-top: 10pt;
	line-height: 130%;
	font-family: 'Courier New';
	font-size: 11pt;
}

p.ElementHeader
{
	margin-top: 12pt;
	margin-bottom: 6pt;
	line-height: 110%;
	font-weight: bold;
	font-family: arial;
	color: #08486B;
	font-size: 12pt;
	border-bottom: solid 0px;
	margin-left: 5pt;
}

p.Caution
{
	font-size: 9pt;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-bottom: solid 1px;
	border-top: solid 1px;
	margin-left: 30pt;
	margin-right: 30pt;
	background-repeat: no-repeat;
	background-image: url('../Images/Icons/caution.png');
	mc-auto-number-format: '{b}Caution:{/b}  ';
	padding-left: 5px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5pt;
	margin-top: 10pt;
	text-indent: 20px;
	background-position: left top;
}

p.Important
{
	font-size: 9pt;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-bottom: solid 1px;
	border-top: solid 1px;
	margin-left: 30pt;
	margin-right: 30pt;
	background-repeat: no-repeat;
	background-image: url('../Images/Icons/important.png');
	mc-auto-number-format: '{b}Important:{/b}  ';
	padding-left: 5px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5pt;
	margin-top: 10pt;
	text-indent: 20px;
	background-position: left top;
}

p.Note
{
	border-bottom-color: #000000;
	border-top-color: #000000;
	background-image: url('../Images/Icons/Note.png');
	mc-auto-number-format: '{b}Note:{/b}  ';
	padding-left: 60px;
	background-repeat: no-repeat;
	background-position: left top;
	margin-left: 30pt;
	margin-right: 30pt;
	padding-top: 5px;
	padding-bottom: 10px;
	margin-bottom: 10pt;
	margin-top: 10pt;
	text-indent: -20px;
	border-bottom: solid 1px;
	border-top: solid 1px;
}

p.TableText
{
	font-family: Arial;
	font-size: 10pt;
	margin-bottom: 3pt;
	margin-left: 3pt;
	margin-top: 3pt;
	line-height: 130%;
}

p.TableTextExpanded
{
	font-family: Arial;
	font-size: 10pt;
	letter-spacing: 1px;
	margin-bottom: 3pt;
	margin-left: 3pt;
	margin-top: 3pt;
	line-height: 130%;
}

p.TaskHeading
{
	color: #08486B;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	margin-bottom: 6pt;
	margin-left: 5pt;
	margin-top: 12pt;
}

p.Tip
{
	font-size: 9pt;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-bottom: solid 1px;
	border-top: solid 1px;
	margin-left: 30pt;
	margin-right: 30pt;
	background-repeat: no-repeat;
	background-image: url('../Images/Icons/tip.png');
	mc-auto-number-format: '{b}Tip:{/b}  ';
	padding-left: 5px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5pt;
	margin-top: 10pt;
	text-indent: 20px;
	background-position: left top;
}

p.Warning
{
	font-size: 9pt;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-bottom: solid 1px;
	border-top: solid 1px;
	margin-left: 30pt;
	margin-right: 30pt;
	background-repeat: no-repeat;
	background-image: url('../Images/Icons/warning.png');
	mc-auto-number-format: '{b}Warning:{/b}  ';
	padding-left: 5px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5pt;
	margin-top: 10pt;
	text-indent: 20px;
	background-position: left top;
}

p.C_Code
{
	font-family: 'Courier New';
}

p.CodeIndent1
{
	margin-left: 55pt;
	font-family: monospace;
}

p.CodeIndent2
{
	font-family: monospace;
	margin-left: 70pt;
}

p.CodeIndent3
{
	font-family: monospace;
	margin-left: 85pt;
}

p.CodeNoIndent
{
	font-family: monospace;
}

p.Indent1
{
	margin-top: 0pt;
	margin-left: 30pt;
}

a:Visited
{
	color: #800080;
	text-decoration: underline;
}

a:Hover
{
	color: #ff3300;
	text-decoration: underline;
}

a.dropspot
{
	color: #0000ff;
	cursor: hand;
	text-decoration: none;
	font-style: normal;
}

a.dropspot:link
{
	font-style: normal;
	text-decoration: underline;
}

a.dropspot:Visited
{
	color: #0000ff;
	font-style: italic;
	text-decoration: none;
}

MadCap|expandingHead.expandspot
{
	cursor: hand;
	color: #008000;
	font-style: normal;
}

MadCap|dropDownHotspot.dropspot
{
	font-style: italic;
	color: #0000ff;
	cursor: hand;
	text-decoration: none;
}

MadCap|dropDownHead
{
	border-bottom-width: 0px;
	color: #0000ff;
	font-size: 10pt;
	text-decoration: underline;
	font: Arial;
}

a.dropspot:Hover
{
	border-bottom: solid 0px;
	font-style: normal;
	font-family: sans-serif;
	font: sans-serif;
	font-size: 10pt;
	text-decoration: underline;
}

MadCap|dropDownHotspot.dropspot:hover
{
	font-style: normal;
	border-bottom: solid 1px;
}

MadCap|breadcrumbsProxy
{
	mc-breadcrumbs-prefix: 'You are viewing: ';
	mc-toc-depth: 3;
	text-align: left;
	vertical-align: 3px;
	margin-bottom: 25px;
	padding-bottom: 3px;
	background-color: #dcdcdc;
	padding-left: 2px;
	font-size: 10pt;
	padding-top: 3px;
	border-bottom-color: #708090;
	border-bottom-width: 1px;
	border-left-color: #708090;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #708090;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #708090;
	border-top-style: solid;
	border-top-width: 1px;
	margin-top: 0px;
}

code
{
	font-size: 10pt;
}

MadCap|dropDownHead._2
{
	border-bottom-width: 0px;
	color: #0000ff;
	font-size: 10pt;
	text-decoration: underline;
	font: Arial;
	margin-left: 0.5cm;
	padding-top: 6pt;
	padding-bottom: 6pt;
}

caption
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	padding-top: 6pt;
	padding-bottom: 6pt;
}

MadCap|breadcrumbsProxy
{
	font-size: 9pt;
	font-family: arial;
	left: 0px;
	margin: 0px;
	mc-breadcrumbs-count: 6;
	mc-breadcrumbs-divider: ' | ';
	mc-breadcrumbs-prefix: 'You are viewing: ';
	border-bottom-color: #c0c0c0;
	border-bottom-width: 0px;
	background-color: #c0c0c0;
	position: fixed;
	width: 100%;
	padding-bottom: 5pt;
	padding-top: 5pt;
	padding-left: 5pt;
	margin-left: 0pt;
}

@media print
{
	ul
	{
		font-family: Arial;
		font-size: 10pt;
		line-height: 130%;
	}

	H1
	{
		margin-top: 4.67pt;
		page-break-before: avoid;
	}

	li
	{
		font-family: Arial;
		line-height: 18px;
	}

	h2
	{
		page-break-before: avoid;
	}

	h5
	{
		page-break-before: avoid;
	}

	h3
	{
		page-break-before: avoid;
	}

	h4
	{
		page-break-before: avoid;
	}

	h3.ElementHeader	/**/
	{
		
	}

	h6
	{
		page-break-before: avoid;
	}
}

