/*<meta />*/

HTML
{
	background-color: #ffffff;
}

H1.Module
{
	border-bottom: solid 1px;
	color: #08486B;
	font-family: Arial;
	font-size: 15pt;
	font-weight: bold;
	left: 0px;
	line-height: 110%;
	margin-left: 5pt;
	margin-right: 0pt;
	margin-top: auto;
	padding-top: 5pt;
	page-break-before: always;
	right: 0px;
}

H1.Heading
{
	border-bottom: solid 1px;
	color: #08486B;
	font-weight: bold;
	font-family: arial;
	font-size: 15pt;
	left: 0px;
	line-height: 110%;
	margin-left: 5pt;
	margin-right: 0pt;
	margin-top: auto;
	padding-top: 5pt;
	page-break-before: always;
	right: 0px;
}

H2.Heading
{
	border-bottom: solid 1px;
	color: #08486B;
	font-weight: bold;
	font-family: arial;
	font-size: 15pt;
	left: 0px;
	line-height: 110%;
	margin-left: 5pt;
	margin-right: 0pt;
	margin-top: auto;
	padding-top: 5pt;
	page-break-before: always;
	right: 0px;
}

H3.Heading
{
	border-bottom: solid 1px;
	color: #08486B;
	font-weight: bold;
	font-family: arial;
	font-size: 15pt;
	left: 0px;
	line-height: 110%;
	margin-left: 5pt;
	margin-right: 0pt;
	margin-top: auto;
	padding-top: 5pt;
	page-break-before: always;
	right: 0px;
}
h3
{
margin-top: 12pt;
	margin-bottom: 6pt;
	line-height: 110%;
	font-weight: bold;
	font-family: arial;
	color: #08486B;
	font-size: 12pt;
	border-bottom: solid 0px;
	margin-left: 5pt;
}

H5.Heading
{

	border-bottom: solid 1px;
	color: #08486B;
	font-weight: bold;
	font-family: arial;
	font-size: 19pt;
	left: 0px;
	line-height: 110%;
	margin-left: 5pt;
	margin-top: -0.5cm;
	margin-right: 0pt;
	page-break-before: always;
	right: 0px;
}

li.ListBullet
{
	font-family: arial;
	margin-bottom: 6pt;
	margin-left: 0.5cm margin-top;
	font-size: 9pt;
	list-style-position: outside;
	list-style-image: none;
	margin-right: 1.75cm;
}

li.ListBullet_2
{
	font-family: arial;
	margin-bottom: 6pt;
	font-size: 9pt;
	margin-left: 0.5cm;
	list-style-position: outside;
	list-style-image: none;
}

li.ListBullet_3
{
	font-family: arial;
	margin-bottom: 6pt;
	font-size: 9pt;
	margin-left: 1.2cm;
	list-style-position: outside;
	list-style-image: none;
}

li.ListBullet_arrow
{
	font-family: arial;
	font-size: 9pt;
	margin-bottom: 9pt;
	margin-top: 9pt;
}

li.ListBullet_arrow_2
{
	font-family: arial;
	font-size: 9pt;
	margin-left: 20pt;
	margin-bottom: 9pt;
	margin-top: 9pt;
}

MadCap|dropDownHead.MadCapDropDownHeadTaskResult_one
{
	margin-left: 0.7cm;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: arial;
	font-size: 9pt;
	padding-bottom: 3pt;
}

p.BodyText
{
	font-family: Arial;
	font-size: 9pt;
	margin-bottom: 6pt;
	margin-left: 5pt;
	margin-right: 1.75cm;
	margin-top: 6pt;
}

p.BodyTextIndent
{
	font-family: arial;
	font-size: 9pt;
	margin-bottom: 6pt;
	margin-left: 0.5cm;
	margin-top: 6pt;
}

p.ElementHeader_Two
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	margin-bottom: 6pt;
	margin-left: 1.06cm;
	margin-top: 6pt;
}

p.Footer
{
	font-family: Arial;
	font-size: 8pt;
	margin-bottom: 6pt;
	margin-left: 5pt;
	margin-top: 6pt;
}

p.FooterHelpName
{
	font-size: 7.5pt;
	margin-bottom: 3pt;
	text-align: Center;
	margin-top: 3pt;
	color: #808080;
}

p.DocFeedbackSentence
{
	font-size: 6.5pt;
	margin-top: 3pt;
	margin-bottom: 3pt;
	text-align: Center;
	color: #808080;
}

p.Image_1
{
	margin-left: 1.06cm;
	margin-top: 0pt;
	margin-bottom: 6pt;
	font-family: arial;
}

p.Image_2
{
	margin-left: 1.55cm;
	margin-top: 0pt;
	margin-bottom: 6pt;
	font-family: arial;
}

p.Note_1
{
	border-top-color: Black;
	border-bottom-color: Black;
	border-bottom: solid 1px;
	border-top: solid 1px;
	border-left-color: Black;
	border-bottom: solid 1px;
	border-right-color: Black;
	border-bottom: solid 1px;
	margin-top: 0.2cm;
	margin-bottom: 0.5;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 2px;
	font-family: arial;
	font-size: 9pt;
	margin-left: 5pt;
	margin-right: 1cm;
	padding-left: 10px;
}

p.Note_2
{
	border-top-color: Black;
	border-bottom-color: Black;
	border-bottom: solid 1px;
	border-top: solid 1px;
	border-left-color: Black;
	border-bottom: solid 1px;
	border-right-color: Black;
	border-bottom: solid 1px;
	margin-top: 0.2cm;
	margin-bottom: 0.5;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 2px;
	padding-right: 2px;
	font-family: arial;
	font-size: 9pt;
	border-left: solid 1px #000000;
	border-right: solid 1px #000000;
	margin-left: 1cm;
	margin-right: 0cm;
}

p.Note_3
{
	border-top-color: Black;
	border-bottom-color: Black;
	border-bottom: solid 1px;
	border-top: solid 1px;
	border-left-color: Black;
	border-bottom: solid 1px;
	border-right-color: Black;
	border-bottom: solid 1px;
	margin-top: 0.2cm;
	margin-bottom: 0.5;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 2px;
	padding-right: 2px;
	font-family: arial;
	font-size: 9pt;
	border-left: solid 1px #000000;
	border-right: solid 1px #000000;
	margin-left: 1.4cm;
	margin-right: 0cm;
}

p.Note_4
{
	border-top-color: Black;
	border-bottom-color: Black;
	border-bottom: solid 1px;
	border-top: solid 1px;
	border-left-color: Black;
	border-bottom: solid 1px;
	border-right-color: Black;
	border-bottom: solid 1px;
	margin-top: 0.2cm;
	margin-bottom: 0.5;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 2px;
	padding-right: 2px;
	font-family: arial;
	font-size: 9pt;
	border-left: solid 1px #000000;
	border-right: solid 1px #000000;
	margin-left: 2.1cm;
	margin-right: 0cm;
}

p.TextIndent_one
{
	font-family: arial;
	margin-bottom: 6pt;
	margin-left: 1.06cm;
	margin-top: 6pt;
	font-size: 9pt;
}

p.TextIndent_two
{
	font-family: arial;
	margin-bottom: 6pt;
	margin-left: 1.5cm;
	margin-top: 6pt;
	font-size: 9pt;
}

p.TaskHeading
{
	color: #08486B;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	margin-bottom: 6pt;
	margin-left: 5pt;
	margin-top: 12pt;
}

p.TaskHeading_2
{
	color: #08486B;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	margin-bottom: 6pt;
	margin-left: 1.02cm;
	margin-top: 12pt;
}

p.TaskResult_1
{
	margin-left: 1.06cm;
	margin-top: 6pt;
	margin-bottom: 3pt;
	font-family: arial;
	font-size: 9pt;
}

b
{
	font-weight: bold;
	font-style: normal;
	font-family: arial;
	left: 12pt;
	font-size: 9pt;
}

body
{
	font-family: arial;
	font-size: 9pt;
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	line-height: 0.45cm;
	background-position: Center;
	background-repeat: no-repeat;
	background-image: none;
}

code
{
	font-size: 10pt;
}

H4.Heading
{
	font-size: 15pt;
	line-height: 110%;
	font-weight: bold;
	font-family: arial;
	color: #08486B;
	border-bottom: solid 1px;
	left: 0px;
	right: 0px;
	margin-top: auto;
	padding-top: 5pt;
	margin-left: 10pt;
	margin-right: 10pt;
	page-break-before: always;
}

li.ListBulletIndent
{
	margin-top: 9pt;
	margin-bottom: 9pt;
	tab-stop: 18.0pt;
	number-position: left;
	font-family: Symbol;
	text-indent: 0pt;
	font-family: arial;
	list-style-position: outside;
	margin-left: 0.75cm;
	margin-right: 2cm;
	font-size: 9pt;
	list-style-image: none;
}

li.ListBulletIndent_2
{
	margin-top: 9pt;
	margin-bottom: 9pt;
	tab-stop: 18.0pt;
	number-position: left;
	font-family: Symbol;
	text-indent: 0pt;
	font-family: arial;
	list-style-position: outside;
	margin-left: 1.2cm;
	margin-right: 2cm;
	font-size: 9pt;
	list-style-image: none;
}

ol
{
	font-size: 9pt;
}

p
{
	font-size: 9pt;
	font-family: arial;
	margin-top: 3pt;
	margin-bottom: 3pt;
}

p.BodyTextIndent_1
{
	font-size: 9pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin-left: 30pt;
	margin-right: 2cm;
	font-family: arial;
}

p.BodyTextIndent_2
{
	font-size: 9pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin-left: 44pt;
	margin-right: 2cm;
	font-family: arial;
}

p.BodyTextIndent_3
{
	font-size: 9pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin-left: 2.2cm;
	margin-right: 2cm;
	font-family: arial;
}

p.ElementHeader
{
	margin-top: 12pt;
	margin-bottom: 6pt;
	line-height: 110%;
	font-weight: bold;
	font-family: arial;
	color: #08486B;
	font-size: 12pt;
	border-bottom: solid 0px;
	margin-left: 5pt;
}

p.TableText
{
	font-size: 9pt;
	font-family: arial;
}

p.TaskResult
{
	margin-left: 36pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: arial;
	font-size: 9pt;
}

p.TaskResult2
{
	margin-bottom: 6pt;
	margin-left: 63pt;
	tab-stop: 18.0pt;
	number-position: left;
	text-indent: 0pt;
	font-size: 9pt;
	font-family: arial;
	margin-top: 0pt;
}

p.TextIndentListBullet
{
	font-size: 9pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin-left: 1.5cm;
	font-family: arial;
	line-height: 0.45cm;
}

tr
{
	font-size: 9pt;
}

MadCap|dropDownHead
{
	border-bottom-width: 0px;
	color: #0000ff;
	font-size: 9pt;
	text-decoration: underline;
	font: Arial;
	margin-left: 10pt;
	margin-top: 5pt;
	margin-left: 5pt;
}

@media OnLineHelp
{
	MadCap|dropDownHead
	{
		margin-left: 10pt;
		font-family: arial;
		font-size: 9pt;
	}

	MadCap|dropDownHotspot
	{
		margin-left: 20pt;
		font-size: 9pt;
		font-family: arial;
	}
}

MadCap|xref
{
	mc-format: '{paratext}';
}

MadCap|dropDownHead
{
	left: 0pt;
	font-size: 9pt;
	font-style: normal;
	font-family: arial;
	text-decoration: #00000;
	padding-left: 10pt;
	height: 20pt;
	color: #000000;
	margin-left: 5pt;
	padding-bottom: 6pt;
	margin-bottom: 0pt;
}

MadCap|dropDownHotspot
{
	margin-left: -3.4cm;
	left: 12pt;
	text-indent: 3cm;
}

MadCap|breadcrumbsProxy
{
	font-size: 9pt;
	font-family: arial;
	left: 0px;
	margin: 0px;
	mc-breadcrumbs-count: 6;
	mc-breadcrumbs-divider: ' | ';
	mc-breadcrumbs-prefix: 'You are viewing: ';
	border-bottom-color: #c0c0c0;
	border-bottom-width: 0px;
	background-color: #c0c0c0;
	position: fixed;
	width: 100%;
	padding-bottom: 5pt;
	padding-top: 5pt;
	padding-left: 5pt;
	margin-left: 0pt;
}

MadCap|bodyProxy
{
	margin-left: 0pt;
}

MadCap|dropDownHead.MadCapDropDownHeadIndent
{
	left: 0pt;
	font-size: 9pt;
	font-style: normal;
	font-family: arial;
	text-decoration: #00000;
	padding-left: 10pt;
	margin-left: 47pt;
	height: 15pt;
	color: #000000;
}

MadCap|dropDownHead.MadCapDropDownHeadTaskResult2
{
	left: 0pt;
	font-size: 9pt;
	font-style: normal;
	font-family: arial;
	text-decoration: #00000;
	padding-bottom: 3pt;
	padding-left: 10pt;
	margin-left: 1.20cm;
	height: 15pt;
	color: #000000;
}

th
{
	font-weight: normal;
	font-family: arial;
	font-size: 9pt;
	margin: 1pt;
	margin-bottom: 3pt;
	margin-left: 0pt;
	margin-right: 0pt;
	margin-top: 3pt;
}

a
{
	font-size: 9pt;
	font-family: arial;
}

MadCap|dropDownHead.MadCapDropDownSample
{
	left: 0pt;
	font-size: 9pt;
	font-style: normal;
	font-family: arial;
	text-decoration: #00000;
	padding-left: 10pt;
	height: 20pt;
	color: #000000;
	margin-left: 13pt;
	padding-bottom: 6pt;
	padding-top: 12pt;
}

table
{
	margin: 40px;
}

@media print
{
	MadCap|breadcrumbsProxy
	{
		margin-left: 0px;
	}

	ol
	{
		font-family: Arial;
	}

	li
	{
		font-size: 9pt;
		font-family: Arial;
	}

	a
	{
		font-family: Arial;
	}

	li.ListBullet
	{
		font-family: Arial;
	}

	li.ListBullet_2
	{
		font-family: Arial;
	}

	li.ListBullet_3
	{
		font-family: Arial;
	}

	li.ListBullet_arrow
	{
		font-family: Arial;
	}

	li.ListBullet_arrow_2
	{
		font-family: Arial;
	}

	li.ListBulletIndent
	{
		font-family: Arial;
	}

	li.ListBulletIndent_2
	{
		font-family: Arial;
	}

	p.Note_1
	{
		font-family: Arial;
	}

	p.TaskResult
	{
		font-family: Arial;
	}

	p.TaskResult_1
	{
		font-family: Arial;
	}

	p.TaskResult2
	{
		font-family: Arial;
	}

	p
	{
		margin-bottom: 1pt;
	}
}

p.BodyTextIndent_DD
{
	font-family: arial;
	font-size: 9pt;
	margin-bottom: 6pt;
	margin-left: 0.5cm;
	margin-top: 0pt;
}

a.bookmark
{
	position: relative;
	top: -45px;
}

p.ElementHeader_padded
{
	margin-top: 12pt;
	margin-bottom: 6pt;
	line-height: 110%;
	font-weight: bold;
	font-family: arial;
	color: #08486B;
	font-size: 12pt;
	border-bottom: solid 0px;
	margin-left: 5pt;
	padding-top: 20pt;
}

