/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Aptean_Table_3;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-spacing-y: 0;
	border-spacing-x: 0;
	cell-padding-left: 2px;
	max-id: 3;
	margin-left: 40px;
	margin-top: 1pt;
	margin-bottom: 1pt;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	margin-right: 10px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	font-size: 9pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	name: Column1;
	id: 0;
	color: #000000;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	size: 0.7cm;
	font-size: 9pt;
	font-family: Arial;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	font-weight: bold;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	size: 0.60cm;
	font-size: 9pt;
	font-family: Arial;
	vertical-align: top;
	cell-padding-left: 2pt;
	cell-padding-right: 2pt;
	cell-padding-top: 2pt;
	cell-padding-bottom: 2pt;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-Aptean_Table_3
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 40px;
	margin-right: 10px;
	margin-top: 1pt;
	margin-bottom: 1pt;
	border-spacing: 0px 0px;
}

.TableStyle-Aptean_Table_3-Column-Column1
{
	
}

.TableStyle-Aptean_Table_3-Head-Header1
{
	height: 0.7cm;
}

.TableStyle-Aptean_Table_3-HeadI-Column1-Header1
{
	font-style: normal;
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Aptean_Table_3-HeadI-Column1-Header1 p
{
	font-style: normal;
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-Aptean_Table_3-HeadE-Column1-Header1
{
	font-style: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Aptean_Table_3-HeadE-Column1-Header1 p
{
	font-style: normal;
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-Aptean_Table_3-HeadF-Column1-Header1
{
	font-style: normal;
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Aptean_Table_3-HeadF-Column1-Header1 p
{
	font-style: normal;
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-Aptean_Table_3-HeadH-Column1-Header1
{
	font-style: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Aptean_Table_3-HeadH-Column1-Header1 p
{
	font-style: normal;
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-Aptean_Table_3-HeadD-Column1-Header1
{
	font-style: normal;
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Aptean_Table_3-HeadD-Column1-Header1 p
{
	font-style: normal;
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-Aptean_Table_3-HeadC-Column1-Header1
{
	font-style: normal;
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Aptean_Table_3-HeadC-Column1-Header1 p
{
	font-style: normal;
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-Aptean_Table_3-HeadB-Column1-Header1
{
	font-style: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Aptean_Table_3-HeadB-Column1-Header1 p
{
	font-style: normal;
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-Aptean_Table_3-HeadA-Column1-Header1
{
	font-style: normal;
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Aptean_Table_3-HeadA-Column1-Header1 p
{
	font-style: normal;
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-Aptean_Table_3-HeadG-Column1-Header1
{
	font-style: normal;
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Aptean_Table_3-HeadG-Column1-Header1 p
{
	font-style: normal;
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-Aptean_Table_3-Foot-Footer1
{
	
}

.TableStyle-Aptean_Table_3-FootI-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Aptean_Table_3-FootI-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Aptean_Table_3-FootE-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Aptean_Table_3-FootE-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Aptean_Table_3-FootF-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Aptean_Table_3-FootF-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Aptean_Table_3-FootH-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Aptean_Table_3-FootH-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Aptean_Table_3-FootD-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Aptean_Table_3-FootD-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Aptean_Table_3-FootC-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Aptean_Table_3-FootC-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Aptean_Table_3-FootB-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Aptean_Table_3-FootB-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Aptean_Table_3-FootA-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Aptean_Table_3-FootA-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Aptean_Table_3-FootG-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Aptean_Table_3-FootG-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Aptean_Table_3-Body-Body1
{
	height: 0.60cm;
}

.TableStyle-Aptean_Table_3-BodyI-Column1-Body1
{
	vertical-align: top;
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Aptean_Table_3-BodyI-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Aptean_Table_3-BodyE-Column1-Body1
{
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Aptean_Table_3-BodyE-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Aptean_Table_3-BodyF-Column1-Body1
{
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Aptean_Table_3-BodyF-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Aptean_Table_3-BodyH-Column1-Body1
{
	vertical-align: top;
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Aptean_Table_3-BodyH-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Aptean_Table_3-BodyD-Column1-Body1
{
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Aptean_Table_3-BodyD-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Aptean_Table_3-BodyC-Column1-Body1
{
	vertical-align: top;
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Aptean_Table_3-BodyC-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Aptean_Table_3-BodyB-Column1-Body1
{
	vertical-align: top;
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Aptean_Table_3-BodyB-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Aptean_Table_3-BodyA-Column1-Body1
{
	vertical-align: top;
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Aptean_Table_3-BodyA-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Aptean_Table_3-BodyG-Column1-Body1
{
	vertical-align: top;
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Aptean_Table_3-BodyG-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
}


