/* MadCap Table Style: */

/*<meta Version="7" />*/

mcTableStyle
{
	name: note_1;
	border-collapse: collapse;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 3;
	margin-top: 5pt;
	margin-bottom: 5pt;
	margin-left: 15pt;
	margin-right: 5pt;
}

mcTableColumnStyle
{
	span: 1;
	name: Column1;
	id: 0;
	font-family: Arial;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	background-color: #cd0035;
	color: #ffffff;
	font-weight: bold;
	vertical-align: middle;
	font-family: Arial;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	name: Body1;
	id: 1;
	cell-padding-left: 4pt;
	cell-padding-right: 2pt;
	cell-padding-top: 2pt;
	cell-padding-bottom: 2pt;
	font-family: Arial;
	vertical-align: top;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-note_1
{
	border-collapse: collapse;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 15pt;
	margin-right: 5pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
	border-spacing: 0px 0px;
}

.TableStyle-note_1 .Column-Column1
{
	
}

.TableStyle-note_1 .Head-Header1
{
	
}

.TableStyle-note_1 .HeadI-Column1-Header1
{
	color: #ffffff;
	font-family: Arial;
	font-weight: bold;
	vertical-align: middle;
	background-color: #cd0035;
}

.TableStyle-note_1 .HeadI-Column1-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-weight: bold;
}

.TableStyle-note_1 .HeadE-Column1-Header1
{
	color: #ffffff;
	font-family: Arial;
	font-weight: bold;
	vertical-align: middle;
	background-color: #cd0035;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-note_1 .HeadE-Column1-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-weight: bold;
}

.TableStyle-note_1 .HeadF-Column1-Header1
{
	color: #ffffff;
	font-family: Arial;
	font-weight: bold;
	vertical-align: middle;
	background-color: #cd0035;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-note_1 .HeadF-Column1-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-weight: bold;
}

.TableStyle-note_1 .HeadH-Column1-Header1
{
	color: #ffffff;
	font-family: Arial;
	font-weight: bold;
	vertical-align: middle;
	background-color: #cd0035;
}

.TableStyle-note_1 .HeadH-Column1-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-weight: bold;
}

.TableStyle-note_1 .HeadD-Column1-Header1
{
	color: #ffffff;
	font-family: Arial;
	font-weight: bold;
	vertical-align: middle;
	background-color: #cd0035;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-note_1 .HeadD-Column1-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-weight: bold;
}

.TableStyle-note_1 .HeadC-Column1-Header1
{
	color: #ffffff;
	font-family: Arial;
	font-weight: bold;
	vertical-align: middle;
	background-color: #cd0035;
}

.TableStyle-note_1 .HeadC-Column1-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-weight: bold;
}

.TableStyle-note_1 .HeadB-Column1-Header1
{
	color: #ffffff;
	font-family: Arial;
	font-weight: bold;
	vertical-align: middle;
	background-color: #cd0035;
}

.TableStyle-note_1 .HeadB-Column1-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-weight: bold;
}

.TableStyle-note_1 .HeadA-Column1-Header1
{
	color: #ffffff;
	font-family: Arial;
	font-weight: bold;
	vertical-align: middle;
	background-color: #cd0035;
}

.TableStyle-note_1 .HeadA-Column1-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-weight: bold;
}

.TableStyle-note_1 .HeadG-Column1-Header1
{
	color: #ffffff;
	font-family: Arial;
	font-weight: bold;
	vertical-align: middle;
	background-color: #cd0035;
}

.TableStyle-note_1 .HeadG-Column1-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-weight: bold;
}

.TableStyle-note_1 .Foot-Footer1
{
	
}

.TableStyle-note_1 .FootI-Column1-Footer1
{
	font-family: Arial;
}

.TableStyle-note_1 .FootI-Column1-Footer1 p
{
	font-family: Arial;
}

.TableStyle-note_1 .FootE-Column1-Footer1
{
	font-family: Arial;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-note_1 .FootE-Column1-Footer1 p
{
	font-family: Arial;
}

.TableStyle-note_1 .FootF-Column1-Footer1
{
	font-family: Arial;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-note_1 .FootF-Column1-Footer1 p
{
	font-family: Arial;
}

.TableStyle-note_1 .FootH-Column1-Footer1
{
	font-family: Arial;
}

.TableStyle-note_1 .FootH-Column1-Footer1 p
{
	font-family: Arial;
}

.TableStyle-note_1 .FootD-Column1-Footer1
{
	font-family: Arial;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-note_1 .FootD-Column1-Footer1 p
{
	font-family: Arial;
}

.TableStyle-note_1 .FootC-Column1-Footer1
{
	font-family: Arial;
}

.TableStyle-note_1 .FootC-Column1-Footer1 p
{
	font-family: Arial;
}

.TableStyle-note_1 .FootB-Column1-Footer1
{
	font-family: Arial;
}

.TableStyle-note_1 .FootB-Column1-Footer1 p
{
	font-family: Arial;
}

.TableStyle-note_1 .FootA-Column1-Footer1
{
	font-family: Arial;
}

.TableStyle-note_1 .FootA-Column1-Footer1 p
{
	font-family: Arial;
}

.TableStyle-note_1 .FootG-Column1-Footer1
{
	font-family: Arial;
}

.TableStyle-note_1 .FootG-Column1-Footer1 p
{
	font-family: Arial;
}

.TableStyle-note_1 .Body-Body1
{
	
}

.TableStyle-note_1 .BodyI-Column1-Body1
{
	vertical-align: top;
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Arial;
}

.TableStyle-note_1 .BodyI-Column1-Body1 p
{
	font-family: Arial;
}

.TableStyle-note_1 .BodyE-Column1-Body1
{
	vertical-align: top;
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	font-family: Arial;
}

.TableStyle-note_1 .BodyE-Column1-Body1 p
{
	font-family: Arial;
}

.TableStyle-note_1 .BodyF-Column1-Body1
{
	vertical-align: top;
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	font-family: Arial;
}

.TableStyle-note_1 .BodyF-Column1-Body1 p
{
	font-family: Arial;
}

.TableStyle-note_1 .BodyH-Column1-Body1
{
	vertical-align: top;
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Arial;
}

.TableStyle-note_1 .BodyH-Column1-Body1 p
{
	font-family: Arial;
}

.TableStyle-note_1 .BodyD-Column1-Body1
{
	vertical-align: top;
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	font-family: Arial;
}

.TableStyle-note_1 .BodyD-Column1-Body1 p
{
	font-family: Arial;
}

.TableStyle-note_1 .BodyC-Column1-Body1
{
	vertical-align: top;
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Arial;
}

.TableStyle-note_1 .BodyC-Column1-Body1 p
{
	font-family: Arial;
}

.TableStyle-note_1 .BodyB-Column1-Body1
{
	vertical-align: top;
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Arial;
}

.TableStyle-note_1 .BodyB-Column1-Body1 p
{
	font-family: Arial;
}

.TableStyle-note_1 .BodyA-Column1-Body1
{
	vertical-align: top;
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Arial;
}

.TableStyle-note_1 .BodyA-Column1-Body1 p
{
	font-family: Arial;
}

.TableStyle-note_1 .BodyG-Column1-Body1
{
	vertical-align: top;
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Arial;
}

.TableStyle-note_1 .BodyG-Column1-Body1 p
{
	font-family: Arial;
}


